.ie-image-container {
  width: 100%;
  height: 100%;
}

.ie-fix-object-fit {
  position: relative;
  background-size: cover;
  background-position: center center;
  .img-default {
    opacity: 0;
  }
}

//<div class="DEFAUT-IMAGE-CONTAINER">
//  <div class="ie-image-container">
//    <img class="img-default" src="#" >
//  </div>
//</div>