input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

ol, ul {
  list-style: none;
}

input[type=text], input[type=submit], textarea {
  -webkit-appearance: none;
}

*, *:after, *:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-backface-visibility: hidden;
}

body {
  background: #C2DDED;
}

@media (max-width: 768px) {
  body {
    padding-top: 80px;
  }
}