@import '_variables';
@import '_mixins';
@import '_fonts';
@import '_reset';
@import '_ie-object-fit';

//components
@import 'components/_p-event';

@import 'components/_button';
@import 'components/_logo';
@import 'components/_block-info';
@import 'components/_social-media';
@import 'components/_event';
@import 'components/_event-schedule';
@import 'components/_age-rating';
@import 'components/_site-title';
@import 'components/_dev-studio';
@import 'components/_policy';
@import 'components/_index-slider';
@import 'components/_slide-info';
@import 'components/_box';
@import 'components/_close-event';
@import 'components/_page-clip';
@import 'components/_news-block';
@import 'components/_news-flex';
@import 'components/_reviews-block';
@import 'components/_review';
@import 'components/_wrapper-border';
@import 'components/_events-flex';
@import 'components/_border-schedule';
@import 'components/_last-event';
@import 'components/_gallery';
@import 'components/_group-tour';
@import 'components/_connect-block';
@import 'components/_pagination';
@import 'components/_block-text';
@import 'components/_payment';
@import 'components/_counter-block';
@import 'components/_dev-select';
@import 'components/_big-slider';

@import 'components/_about-block';

@import 'components/_page';
@import 'components/_page-inner';
@import 'components/_page-sidebar';

@import 'components/_header';
@import 'components/_header-inner';
@import 'components/_header-mobile';

@import 'components/_nav';
@import 'components/_nav-inner';

@import 'components/_menu';
@import 'components/_menu-inner';

@import 'components/_footer';
@import 'components/_footer-gallery';
@import 'components/_footer-inner';
@import 'components/_footer-nav';

@import 'components/_map';
@import 'components/_map-inner';
@import 'components/_map-info';

@import 'components/_burger-icon';

@import '_index';

.fancybox-content {
  width: 100%;
  height: 100%;
  max-width: 1380px;
}

.overlay {
  transition: 0.2s linear;
  &.is-active {
    position: absolute;
    width: 100%;
    height: 10000px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 70;
  }
}
