@font-face {
  font-family: 'BedrockC';
  src: url("../../assets/fonts/bedrockc2.woff2") format("woff2"); }

input::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

ol, ul {
  list-style: none; }

input[type=text], input[type=submit], textarea {
  -webkit-appearance: none; }

*, *:after, *:before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-backface-visibility: hidden; }

body {
  background: #C2DDED; }

@media (max-width: 768px) {
  body {
    padding-top: 80px; } }

.ie-image-container {
  width: 100%;
  height: 100%; }

.ie-fix-object-fit {
  position: relative;
  background-size: cover;
  background-position: center center; }
  .ie-fix-object-fit .img-default {
    opacity: 0; }

.p-event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .p-event__content {
    width: 100%; }

@media (max-width: 992px) {
  .p-event {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; } }

.button {
  width: 100%;
  max-width: 209px;
  height: 55px;
  border: none;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  background: #F0593E;
  cursor: pointer;
  position: relative; }
  .button__text {
    font-size: 16px;
    position: relative;
    width: 100%;
    text-align: center;
    color: #FFFFFF; }
  .button__icon {
    width: 22px;
    height: 18px; }
  .button__block {
    width: 67px;
    border-left: 2px dashed white;
    height: 42px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.button_buy-ticket {
  max-width: 207px;
  height: 50px; }
  .button_buy-ticket:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #FFFFFF;
    left: -6px; }
  .button_buy-ticket:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #FFFFFF;
    right: -6px; }

.button_bulls-black:after {
  background: #000000; }

.button_bulls-black:before {
  background: #000000; }

.button:active {
  background: #6A9149;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4); }
  .button:active .button__text {
    margin-top: 2px; }
  .button:active .button__icon {
    margin-top: 2px; }

.button_redirect-cafe {
  border: 1px solid #FFD29D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background: #000000;
  max-width: 260px; }
  .button_redirect-cafe:active {
    background: #E1B37E;
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4);
            box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4); }
    .button_redirect-cafe:active:after {
      background-color: transparent; }
    .button_redirect-cafe:active .button__text {
      color: #000000; }
  .button_redirect-cafe:after {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    width: 21px;
    height: 21px;
    background-color: #FFD29D;
    border-radius: 0px 5px;
    background-image: url("../img/svg/button-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear; }
  .button_redirect-cafe .button__text {
    color: #FFD29D; }

.button_style-tickets {
  background: #2F2213; }
  .button_style-tickets .button__text {
    color: #FFD29D; }
  .button_style-tickets:active {
    background: #FFD29D; }
    .button_style-tickets:active .button__text {
      color: #000000; }

@media (min-width: 1000px) {
  .button:hover {
    background: #7FAB59; }
  .button_redirect-cafe:hover {
    background: #FFD29D; }
    .button_redirect-cafe:hover:after {
      background-color: transparent; }
    .button_redirect-cafe:hover .button__text {
      color: #000000; }
  .button_style-tickets:hover {
    background: #FFD29D; }
    .button_style-tickets:hover .button__text {
      color: #000000; } }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .block-info__icon {
    margin-right: 15px; }
  .block-info__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .block-info__info-text {
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
    font-size: 16px; }
    .block-info__info-text:nth-child(1) {
      margin-bottom: 5px; }
    .block-info__info-text.bold {
      font-weight: bold;
      font-size: 20px; }

.block-info.no-hover:active .block-info__info-text {
  color: #000000; }

.block-info_style-phone .block-info__info-text:nth-child(1) {
  font-weight: bold; }

.block-info_style-phone .block-info__info-text:nth-child(2) {
  padding-left: 5px;
  color: #A77F50; }

.block-info_style-white .block-info__info-text {
  color: #000000; }

.block-info_style-white:active .block-info__info-text {
  color: #F0593E; }

.block-info_style-phone .block-info__info-text:nth-child(1) {
  color: #000000; }

.block-info_style-phone:active .block-info__info-text:nth-child(2) {
  color: #F0593E; }

.block-info_style-phone-footer .block-info__info-text:nth-child(1) {
  color: #FFD29D; }

.block-info_style-phone-footer .block-info__info-text:nth-child(2) {
  opacity: 0.5;
  color: #FFD29D; }

.block-info_style-phone-footer:active .block-info__info-text:nth-child(1) {
  color: #FFFFFF; }

.block-info_style-phone-footer:active .block-info__info-text:nth-child(2) {
  opacity: 1; }

.block-info_style-footer .block-info__info-text {
  color: #FFD29D; }

.block-info_style-footer:active .block-info__info-text {
  color: #FFFFFF; }

.block-info_style-red .block-info__info-text {
  color: #FFFFFF; }

.block-info_style-red .block-info__icon {
  margin-top: 6px;
  fill: #FFFFFF; }

.block-info_style-red:active .block-info__info-text {
  color: #FFD29D; }

.block-info_style-red:active .block-info__icon {
  fill: #FFD29D; }

@media (min-width: 1000px) {
  .block-info_style-red:hover .block-info__info-text {
    color: #FFD29D; }
  .block-info_style-red:hover .block-info__icon {
    fill: #FFD29D; }
  .block-info_style-phone-footer:hover .block-info__info-text:nth-child(1) {
    color: #FFFFFF; }
  .block-info_style-phone-footer:hover .block-info__info-text:nth-child(2) {
    opacity: 1; }
  .block-info_style-footer:hover .block-info__info-text {
    color: #FFFFFF; }
  .block-info_style-phone:hover .block-info__info-text:nth-child(2) {
    color: #F0593E; }
  .block-info_style-white:hover .block-info__info-text {
    color: #F0593E; }
  .block-info.no-hover:hover .block-info__info-text {
    color: #000000; } }

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social-media__block {
    width: 45px;
    height: 45px;
    border: 1px solid #C39A6B;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear; }
    .social-media__block:not(:last-child) {
      margin-right: 10px; }

.social-media_style-header .social-media__block-img {
  fill: #F0593E; }

.social-media_style-red .social-media__block {
  border: 1px solid #FFFFFF; }

.social-media_style-red .social-media__block-img {
  fill: #FFFFFF; }

.social-media_style-red .social-media__block:active {
  border: 1px solid #FFD29D; }
  .social-media_style-red .social-media__block:active .social-media__block-img {
    fill: #FFD29D; }

.social-media_style-red .social-media__text {
  margin-right: 33px;
  line-height: 23px;
  font-size: 16px;
  color: #FFFFFF; }

.social-media_style-footer .social-media__block-img {
  fill: #FFD29D; }

.social-media_style-footer .social-media__block:active {
  border: 1px solid #FFFFFF; }
  .social-media_style-footer .social-media__block:active .social-media__block-img {
    fill: #FFFFFF; }

.social-media_style-header .social-media__block:active {
  background: #C39A6B; }
  .social-media_style-header .social-media__block:active .social-media__block-img {
    fill: #FFFFFF; }

@media (min-width: 1000px) {
  .social-media_style-red .social-media__block:hover {
    border: 1px solid #FFD29D; }
    .social-media_style-red .social-media__block:hover .social-media__block-img {
      fill: #FFD29D; }
  .social-media_style-header .social-media__block:hover {
    background: #C39A6B; }
    .social-media_style-header .social-media__block:hover .social-media__block-img {
      fill: #FFFFFF; }
  .social-media_style-footer .social-media__block:hover {
    border: 1px solid #FFFFFF; }
    .social-media_style-footer .social-media__block:hover .social-media__block-img {
      fill: #FFFFFF; } }

.event {
  margin-bottom: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 270px;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear; }
  .event:active {
    -webkit-box-shadow: 0 10px 10px rgba(0, 51, 79, 0.2);
            box-shadow: 0 10px 10px rgba(0, 51, 79, 0.2);
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  .event__photo {
    height: auto;
    width: 100%;
    max-width: 414px;
    position: relative; }
  .event__photo-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover; }
  .event__info {
    width: 100%;
    padding: 23px 30px 30px 30px; }
  .event__info-type {
    margin-bottom: 9px;
    font-size: 16px;
    color: #808080; }
  .event__info-name {
    margin-bottom: 15px;
    font-size: 27px;
    color: #000000; }
  .event__info-text {
    color: #000000;
    line-height: 23px;
    font-size: 16px;
    width: 100%;
    max-width: 840px; }
  .event__info-footer {
    width: 100%;
    margin-top: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .event__info-footer .button {
      margin-left: 15px; }
  .event__footer-description {
    width: 100%;
    max-width: 627px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .event__price {
    padding-top: 24px;
    padding-right: 17px;
    padding-left: 21px;
    padding-bottom: 35px;
    border-top: 2px dashed #CFC5B0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .event__price-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .event__price-text {
    width: 39%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 23px;
    font-size: 16px;
    color: #000000; }
  .event__price-time {
    width: 33px;
    position: relative; }
  .event__small-time {
    line-height: 14px;
    font-size: 10px;
    color: #000000;
    position: absolute; }

.event__link:active .event .button {
  background: #7FAB59; }

.event_style-sidebar {
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .event_style-sidebar .event__photo {
    height: 345px; }
  .event_style-sidebar .event__info {
    padding: 23px 23px 30px 20px; }
  .event_style-sidebar .event__info-type {
    margin-bottom: 4px; }
  .event_style-sidebar .event__info-name {
    letter-spacing: 0.4px;
    font-size: 26px; }

@media (min-width: 1000px) {
  .event:hover {
    -webkit-box-shadow: 0 10px 10px rgba(0, 51, 79, 0.2);
            box-shadow: 0 10px 10px rgba(0, 51, 79, 0.2);
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  .event__link:hover .event .button {
    background: #7FAB59; } }

@media (max-width: 1260px) {
  .event {
    height: auto; }
    .event__info {
      padding: 15px; } }

@media (max-width: 1140px) {
  .event__photo {
    max-width: 290px; } }

@media (max-width: 992px) {
  .event__photo {
    display: none; } }

@media (max-width: 768px) {
  .event {
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 24px; }
    .event__photo {
      display: block;
      width: 100%;
      max-width: 768px;
      height: 200px; }
    .event__info {
      padding-top: 24px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center; }
    .event__info-type {
      margin-bottom: 13px; }
    .event__info-footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .event__info-footer .button {
        height: 50px;
        width: 100%;
        max-width: 281px;
        margin: 11px auto; }
    .event__footer-description {
      width: 272px;
      margin: 0 auto;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.event-schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .event-schedule__block {
    width: 50px;
    height: 50px;
    background: #E4D7B5;
    border-radius: 5px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
  .event-schedule__block-text {
    font-size: 20px;
    text-align: center;
    color: #000000; }
  .event-schedule__block-price {
    font-size: 20px;
    text-align: center; }
  .event-schedule__block-enter {
    font-size: 14px;
    text-align: center;
    color: #000000; }
  .event-schedule__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .event-schedule__info-text {
    font-size: 15px;
    color: #000000; }

.event-schedule_style-date .event-schedule__block:after {
  top: 6px;
  left: 14px;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #FFFFFF;
  position: absolute; }

.event-schedule_style-date .event-schedule__block:before {
  top: 6px;
  right: 14px;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #FFFFFF;
  position: absolute; }

.event-schedule_style-date .event-schedule__block-text {
  position: absolute;
  top: 19px; }

.event-schedule_style-price .event-schedule__block {
  width: 100px;
  background: #FFCC00; }
  .event-schedule_style-price .event-schedule__block:after {
    right: -6px;
    width: 12px;
    height: 12px;
    background: #FFFFFF;
    border-radius: 100%;
    position: absolute;
    content: ''; }
  .event-schedule_style-price .event-schedule__block:before {
    left: -6px;
    width: 12px;
    height: 12px;
    background: #FFFFFF;
    border-radius: 100%;
    position: absolute;
    content: ''; }

@media (max-width: 768px) {
  .event-schedule {
    margin-bottom: 17px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
    .event-schedule__info {
      min-width: 140px;
      text-align: left; } }

.age-rating {
  position: absolute;
  width: 42px;
  height: 29px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F0593E;
  right: 20px;
  top: 19px; }
  .age-rating__number {
    font-size: 16px;
    color: #FFFFFF; }

.site-title {
  margin-bottom: 29px;
  font-size: 50px;
  color: #000000;
  font-family: 'BedrockC'; }

@media (max-width: 768px) {
  .site-title {
    padding-top: 24px;
    padding-bottom: 23px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 44px;
    font-size: 40px;
    text-align: center; } }

.dev-studio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  opacity: 0.5; }
  .dev-studio__icon {
    margin-right: 11px;
    fill: #FFD29D; }
  .dev-studio__text {
    padding-top: 2px;
    font-size: 14px;
    color: #FFD29D; }
  .dev-studio:active {
    opacity: 1; }

@media (min-width: 1000px) {
  .dev-studio:hover {
    opacity: 1; } }

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .policy__link {
    color: #FFD29D;
    opacity: 0.5;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
    font-size: 14px; }
    .policy__link:first-child {
      margin-bottom: 11px; }
    .policy__link:active {
      opacity: 1; }

@media (min-width: 1000px) {
  .policy__link:hover {
    opacity: 1; } }

.index-slider {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  height: 1000px;
  position: relative; }
  .index-slider:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 350px;
    z-index: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%); }
  .index-slider__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .index-slider__info {
    position: absolute;
    z-index: 10;
    width: 100%;
    margin-top: 73px; }
  .index-slider__sub-title {
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
    color: #000000; }
  .index-slider__title {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    font-family: 'BedrockC';
    line-height: 78px;
    font-size: 70px;
    text-align: center;
    color: #000000; }

.index-slider .swiper-container {
  height: 100%; }
  .index-slider .swiper-container .swiper-button-next {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: url("../img/slider-next.png") no-repeat center center;
    background-color: #FFFFFF;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
    right: 51px;
    left: auto;
    top: 482px; }
    .index-slider .swiper-container .swiper-button-next:active {
      background-color: #FFA800;
      -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4);
              box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4); }
  .index-slider .swiper-container .swiper-button-prev {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: url("../img/slider-prev.png") no-repeat center center;
    background-color: #FFFFFF;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
    left: 51px;
    right: auto;
    top: 482px; }
    .index-slider .swiper-container .swiper-button-prev:active {
      background-color: #FFA800;
      -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4);
              box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4); }
  .index-slider .swiper-container .swiper-pagination-bullet {
    background: #FFFFFF;
    opacity: 1;
    width: 15px;
    height: 15px;
    position: relative; }
  .index-slider .swiper-container .swiper-pagination-bullet-active:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    background: #F0593E;
    width: 9px;
    height: 9px;
    border-radius: 100%; }

@media (min-width: 1000px) {
  .index-slider .swiper-container .swiper-button-next:hover {
    background-color: #FFCC00; }
  .index-slider .swiper-container .swiper-button-prev:hover {
    background-color: #FFCC00; } }

@media (max-width: 768px) {
  .index-slider {
    height: auto; }
    .index-slider .swiper-container {
      height: 190px; }
    .index-slider:after {
      height: 0;
      width: 0; }
    .index-slider__info {
      position: initial;
      margin-top: 35px; }
    .index-slider__sub-title {
      font-size: 16px;
      text-align: center;
      color: #000000;
      width: 80%;
      margin: 0 auto 8px; }
    .index-slider__title {
      width: 85%;
      margin-bottom: 56px;
      line-height: 44px;
      font-size: 40px;
      text-align: center;
      color: #000000; } }

.slide-info {
  position: absolute;
  padding-left: 39px;
  padding-top: 35px;
  padding-right: 18px;
  left: 261px;
  min-width: 414px;
  max-width: 970px;
  height: 136px;
  bottom: 60px;
  background: #FFFFFF;
  border-radius: 10px;
  z-index: 10; }
  .slide-info__sub-title {
    font-size: 18px;
    color: #808080;
    margin-bottom: 8px; }
  .slide-info__title {
    line-height: 50px;
    font-size: 45px;
    color: #000000;
    font-family: 'BedrockC';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 870px;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear; }

@media (max-width: 1170px) {
  .slide-info {
    left: 15px; } }

@media (max-width: 768px) {
  .slide-info {
    border-radius: 0;
    min-height: 149px;
    position: initial;
    padding: 21px 0 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    min-width: auto; }
    .slide-info__sub-title {
      font-size: 18px;
      text-align: center;
      color: #808080; }
    .slide-info__title {
      line-height: 44px;
      font-size: 40px;
      text-align: center; } }

.box {
  width: 207px;
  height: 84px;
  background: #FFCC00;
  border-radius: 5px;
  position: absolute;
  top: -69px;
  left: 138px;
  padding-top: 13px;
  padding-left: 18px;
  padding-right: 10px; }
  .box__text {
    letter-spacing: -0.5px; }
  .box__tips {
    position: absolute;
    bottom: -20px;
    right: 69px; }

@media (max-width: 768px) {
  .box {
    display: none; } }

.close-event {
  margin-top: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 253px;
  position: absolute;
  top: -15px;
  left: 30px; }
  .close-event__info {
    padding: 27px 10px 10px 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .close-event__info-text {
    color: #808080;
    font-size: 18px;
    color: #808080; }
  .close-event__info-title {
    margin-bottom: 25px;
    width: 100%;
    max-width: 220px;
    line-height: 50px;
    font-size: 45px;
    color: #000000;
    font-family: 'BedrockC';
    overflow: hidden;
    text-overflow: ellipsis;
    height: 104px; }
  .close-event__photo {
    max-width: 537px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 45px; }
  .close-event__photo-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

@media (max-width: 1379px) {
  .close-event__photo {
    max-width: 430px; } }

@media (max-width: 1180px) {
  .close-event__photo {
    max-width: 230px; }
  .close-event__info {
    padding: 15px; } }

@media (max-width: 992px) {
  .close-event__photo {
    max-width: 440px; } }

@media (max-width: 768px) {
  .close-event {
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
    position: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .close-event__photo {
      max-width: 768px;
      height: 151px;
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      position: inherit; }
    .close-event__info {
      padding-bottom: 60px;
      padding-top: 21px;
      text-align: center; }
      .close-event__info .button {
        height: 50px;
        margin: 0 auto; }
    .close-event__info-text {
      margin-bottom: 6px; }
    .close-event__info-title {
      margin: 0 auto 10px;
      width: 75%;
      max-width: initial; } }

.page-clip {
  height: 35px;
  width: 100%;
  margin-top: 37px;
  margin-bottom: 43px;
  -o-object-fit: cover;
     object-fit: cover; }

.page-clip.mobile {
  display: none; }

@media (max-width: 768px) {
  .page-clip.mobile-hide {
    display: none; }
  .page-clip.mobile {
    display: block; } }

.news-block {
  margin-bottom: 32px;
  padding: 23px 30px;
  background: #FFFFFF;
  border-radius: 10px;
  width: 48%;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear; }
  .news-block:active {
    -webkit-box-shadow: 0 10px 10px rgba(0, 51, 79, 0.2);
            box-shadow: 0 10px 10px rgba(0, 51, 79, 0.2);
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  .news-block__date {
    margin-bottom: 7px;
    font-size: 16px;
    color: #808080; }
  .news-block__title {
    margin-bottom: 10px;
    line-height: 38px;
    font-size: 27px;
    color: #000000; }
  .news-block__text {
    line-height: 23px;
    font-size: 16px;
    color: #000000; }

@media (min-width: 1000px) {
  .news-block:hover {
    -webkit-box-shadow: 0 10px 10px rgba(0, 51, 79, 0.2);
            box-shadow: 0 10px 10px rgba(0, 51, 79, 0.2);
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); } }

@media (max-width: 1170px) {
  .news-block {
    padding: 15px; } }

@media (max-width: 768px) {
  .news-block {
    padding: 22px 15px 44px 15px;
    border-radius: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 0; }
    .news-block__date {
      margin-bottom: 11px; }
    .news-block__title {
      font-size: 27px;
      width: 80%;
      margin: 0 auto 16px;
      line-height: 31px; }
    .news-block:not(:last-child) {
      margin-bottom: 2px; } }

.news-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px; }

@media (max-width: 768px) {
  .news-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 58px; } }

.reviews-block {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  .reviews-block .site-title {
    margin-bottom: 28px; }
  .reviews-block__col {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

@media (max-width: 1379px) {
  .reviews-block__col:first-child {
    margin-right: 15px; } }

@media (max-width: 768px) {
  .reviews-block {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .reviews-block .site-title {
      margin-bottom: 0; }
    .reviews-block__col:first-child {
      margin-right: 0; }
    .reviews-block__col .page-clip.mobile {
      margin-top: 0;
      margin-bottom: -5px;
      height: 18px; } }

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 26px; }
  .review__block {
    padding-top: 22px;
    padding-left: 30px;
    padding-right: 54px;
    padding-bottom: 19px;
    background: #FFFFFF;
    border-radius: 10px;
    position: relative; }
  .review__block-text {
    line-height: 23px;
    font-size: 16px;
    color: #000000; }
  .review__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 583px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 16px 0 0 auto; }
  .review__info-author {
    font-size: 16px;
    font-weight: bold;
    color: #000000; }
  .review__source {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .review__source-date {
    margin-right: 6px;
    font-size: 14px;
    color: #808080;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .review__source-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #F0593E;
    font-size: 14px; }

.review_style-client {
  position: relative;
  max-width: 650px; }
  .review_style-client .review__info {
    max-width: initial;
    width: 89%; }
  .review_style-client .review__block {
    position: relative; }
    .review_style-client .review__block:after {
      content: '';
      position: absolute;
      bottom: -26px;
      left: 32px;
      width: 23px;
      height: 26px;
      background: url("../img/tips-review.png"); }

.review_style-media {
  position: relative;
  margin-bottom: 0; }
  .review_style-media:after {
    content: '';
    position: absolute;
    left: 30px;
    top: 30px;
    background-image: url("../img/svg/apostrof-prev.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 26px;
    z-index: 1; }
  .review_style-media:before {
    content: '';
    position: absolute;
    z-index: 1;
    right: 32px;
    top: 30px;
    background-image: url("../img/svg/apostrof-next.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 26px; }
  .review_style-media .review__block {
    padding-bottom: 27px;
    margin-bottom: 30px; }
  .review_style-media .review__block-text {
    padding-left: 45px;
    padding-right: 60px; }
  .review_style-media .review__info {
    margin-top: 6px;
    max-width: 553px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .review_style-media .review__source-date {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .review_style-media .review__source-date .review__source-link {
      max-width: 768px;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

@media (max-width: 1170px) {
  .review__block {
    padding: 15px; }
  .review_style-client .review__info {
    width: 80%; } }

@media (max-width: 768px) {
  .review {
    max-width: 768px;
    width: 100%; }
    .review__info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .review__block {
      border-radius: 0;
      text-align: center; }
  .review_style-client .review__block {
    padding-top: 22px;
    padding-bottom: 20px;
    padding-left: 34px; }
  .review_style-client .review__info {
    margin-top: 17px; }
  .review_style-client .review__info-author {
    margin-bottom: 9px; }
  .review_style-media:before {
    right: 17px; }
  .review_style-media:after {
    left: 17px; }
  .review_style-media .review__block {
    padding-top: 22px;
    margin-bottom: 2px; }
  .review_style-media .review__block-text {
    width: 80%;
    margin: 0 auto;
    padding: 0; } }

.wrapper-border {
  margin-top: 41px;
  position: relative;
  width: 70%;
  height: 319px; }
  .wrapper-border__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }

@media (max-width: 1379px) {
  .wrapper-border {
    width: 65%; } }

@media (max-width: 1180px) {
  .wrapper-border {
    width: 55%; } }

@media (max-width: 992px) {
  .wrapper-border {
    overflow: hidden;
    width: 100%; } }

@media (max-width: 768px) {
  .wrapper-border {
    margin-top: 0;
    height: auto;
    background: #FFFFFF; }
    .wrapper-border__img {
      opacity: 0; } }

.events-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative; }

.border-schedule {
  position: absolute;
  right: 0;
  top: -208px;
  z-index: 1;
  width: 414px;
  height: 567px;
  overflow: hidden; }
  .border-schedule__img {
    position: absolute;
    right: 0;
    top: 0; }
  .border-schedule__afisha-img {
    border: 3px solid transparent;
    z-index: 20;
    position: absolute;
    top: 49px;
    left: 61px;
    width: 307px;
    height: 471px;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear; }
  .border-schedule:active .border-schedule__afisha-img {
    border: 3px solid #F0593E; }

@media (min-width: 1000px) {
  .border-schedule:hover .border-schedule__afisha-img {
    border: 3px solid #F0593E; } }

@media (max-width: 992px) {
  .border-schedule {
    display: none; } }

.last-event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .last-event:not(:last-child) {
    margin-bottom: 45px; }
  .last-event__header {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .last-event__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .last-event__info-date {
    margin-bottom: 8px;
    font-size: 16px;
    color: #808080; }
  .last-event__info-title {
    font-size: 27px;
    color: #000000; }
  .last-event__description {
    line-height: 23px;
    font-size: 16px;
    color: #000000;
    width: 100%;
    max-width: 690px; }

@media (max-width: 768px) {
  .last-event__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
  .last-event__description {
    display: none; }
  .last-event:not(:last-child) {
    margin-bottom: 36px; } }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 167px;
  border-radius: 10px;
  overflow: hidden; }
  .gallery__more {
    max-width: 275px;
    width: 25%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer; }
    .gallery__more:after {
      content: '';
      cursor: pointer;
      position: absolute;
      z-index: 20;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: 0.1s linear;
      transition: 0.1s linear;
      background-color: rgba(0, 0, 0, 0.8); }
    .gallery__more .gallery__img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  .gallery__more-text {
    font-size: 16px;
    color: #FFD29D;
    position: relative;
    z-index: 30;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .gallery__more-text:after {
      content: '';
      position: absolute;
      right: -28px;
      width: 18px;
      height: 32px;
      z-index: 30;
      background-image: url("../img/svg/more-photo-icon.svg");
      background-repeat: no-repeat; }
  .gallery__scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
  .gallery__img {
    max-width: 275px;
    width: 25%;
    -o-object-fit: cover;
       object-fit: cover; }
    .gallery__img:not(:last-child) {
      margin-right: 1px; }

@media (max-width: 768px) {
  .gallery {
    border-radius: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 225px;
    width: 100%; }
    .gallery__scroll {
      overflow-x: scroll; }
    .gallery__img {
      max-width: initial;
      width: 240px;
      height: 145px; }
    .gallery__more {
      max-width: 768px;
      height: 80px;
      width: 100%; }
      .gallery__more:after {
        background-color: black; } }

.group-tour {
  margin-top: 61px;
  margin-bottom: 80px;
  padding-left: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  position: relative;
  width: 100%;
  background: #000000;
  height: 119px; }
  .group-tour__title {
    font-family: 'BedrockC';
    font-size: 50px;
    text-align: center;
    color: #FFD29D; }
  .group-tour__info {
    padding-left: 69px;
    padding-right: 61px;
    width: 100%;
    max-width: 966px;
    background: url("../img/tour-bg.png");
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .group-tour__text {
    line-height: 23px;
    font-size: 16px;
    color: #FFD29D; }
  .group-tour__text-link {
    line-height: 23px;
    font-size: 16px;
    color: #FFD29D;
    font-weight: bold; }

.group-tour_style-sidebar {
  margin-top: 35px;
  margin-bottom: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding-left: 0;
  position: relative; }
  .group-tour_style-sidebar:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: -26px;
    left: 102px;
    background-image: url("../img/group.png");
    background-repeat: no-repeat; }
  .group-tour_style-sidebar .group-tour__title {
    padding-top: 13px;
    padding-bottom: 19px; }
  .group-tour_style-sidebar .group-tour__info {
    padding-top: 22px;
    padding-left: 19px;
    padding-right: 5px;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: #523D24;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
  .group-tour_style-sidebar .group-tour__text {
    margin-bottom: 9px; }

@media (max-width: 1350px) {
  .group-tour {
    padding-left: 20px; }
    .group-tour__title {
      font-size: 36px; } }

@media (max-width: 768px) {
  .group-tour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    border-radius: 0;
    height: auto;
    position: relative;
    margin-bottom: 59px; }
    .group-tour:after {
      content: '';
      position: absolute;
      top: -26px;
      left: 54px;
      width: 23px;
      height: 26px;
      background-image: url("../img/group.png"); }
    .group-tour__title {
      font-size: 40px;
      padding-top: 21px;
      padding-bottom: 20px; }
    .group-tour__text {
      max-width: 250px;
      font-size: 16px;
      text-align: center;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .group-tour__text:nth-child(1) {
        margin-bottom: 14px; }
    .group-tour__info {
      padding-top: 16px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 23px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      background: #523D24; } }

@media (max-width: 768px) {
  .group-tour_style-sidebar .group-tour__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.connect-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 115px; }
  .connect-block .block-info_style-red:nth-child(1) {
    margin-right: 17px; }
  .connect-block .block-info_style-red:nth-child(2) {
    margin-right: 14px; }

@media (max-width: 1260px) {
  .connect-block .social-media_style-red .social-media__text {
    display: none; }
  .connect-block .block-info__info-text {
    font-size: 14px; } }

@media (max-width: 992px) {
  .connect-block .social-media_style-red {
    display: none; } }

@media (max-width: 768px) {
  .connect-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding-top: 35px;
    padding-bottom: 30px; }
    .connect-block .block-info {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: 225px;
      text-align: left;
      margin-bottom: 17px; }
      .connect-block .block-info:nth-child(1) {
        margin-right: 0;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        width: 220px; }
        .connect-block .block-info:nth-child(1) .block-info__info-text:nth-child(1) {
          font-size: 20px;
          margin-bottom: 3px; }
        .connect-block .block-info:nth-child(1) .block-info__info-text:nth-child(2) {
          font-size: 16px; }
      .connect-block .block-info:nth-child(2) {
        margin-bottom: 21px;
        margin-right: 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .connect-block .block-info:nth-child(2) .block-info__info-text:nth-child(1) {
          font-size: 20px;
          margin-bottom: 3px; }
        .connect-block .block-info:nth-child(2) .block-info__info-text:nth-child(2) {
          font-size: 16px; }
    .connect-block .social-media {
      margin-top: 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.pagination {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .pagination__item {
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FFFFFF;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear; }
    .pagination__item:not(:last-child) {
      margin-right: 10px; }
    .pagination__item:active {
      background: #FFCC00; }
      .pagination__item:active .pagination__item-text {
        color: #000000; }
  .pagination__item-text {
    font-size: 16px;
    text-align: center;
    color: #808080; }

@media (min-width: 1000px) {
  .pagination__item:hover {
    background: #FFCC00; }
    .pagination__item:hover .pagination__item-text {
      color: #000000; } }

@media (max-width: 768px) {
  .pagination {
    display: none; } }

.block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .block-text__title {
    margin-bottom: 14px;
    font-size: 27px;
    color: #000000; }
  .block-text__text {
    line-height: 25px;
    font-size: 18px;
    color: #000000; }
    .block-text__text:not(:last-child) {
      margin-bottom: 10px; }

.block-text_style-paragraph .block-text__text {
  padding-left: 103px;
  width: 100%;
  max-width: 1000px;
  position: relative; }
  .block-text_style-paragraph .block-text__text:not(:last-child) {
    margin-bottom: 14px; }
  .block-text_style-paragraph .block-text__text:after {
    content: '';
    position: absolute;
    left: 70px;
    top: 11px;
    width: 12px;
    height: 1px;
    background: #F0593E; }

.block-text.middle-block {
  margin-bottom: 31px;
  margin-top: 31px; }

@media (max-width: 768px) {
  .block-text {
    padding-left: 10px;
    padding-right: 10px; }
  .block-text_style-paragraph .block-text__text {
    padding-left: 35px; }
    .block-text_style-paragraph .block-text__text:after {
      left: 10px; } }

.payment {
  background: #000000;
  color: #FFD29D;
  border-radius: 10px;
  margin-bottom: 20px; }
  .payment__header {
    min-height: 104px;
    padding-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 2px dashed #523D24; }
  .payment__header-type {
    margin-bottom: 4px;
    padding-left: 34px;
    font-size: 15px; }
  .payment__header-title {
    padding-left: 33px;
    font-size: 27px; }
  .payment__input {
    padding-left: 10px;
    padding-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    color: #FFD29D;
    max-width: 319px;
    width: 100%;
    height: 50px;
    background: #23190D;
    border-radius: 5px;
    border: none; }
    .payment__input::-webkit-input-placeholder {
      color: #FFD29D; }
    .payment__input:-ms-input-placeholder {
      color: #FFD29D; }
    .payment__input::-ms-input-placeholder {
      color: #FFD29D; }
    .payment__input::placeholder {
      color: #FFD29D; }
  .payment__label {
    width: 100%;
    margin-bottom: 15px; }
  .payment__content {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #523D24;
    background: #523D24;
    padding-left: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .payment__content .dev-select {
      margin-right: 35px; }
    .payment__content .counter-block:not(:last-child) {
      margin-right: 35px; }
  .payment__content-form {
    margin-top: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .payment__content-form .button {
      margin-left: 10px;
      margin-right: 20px; }
    .payment__content-form .event-schedule__block:after {
      background: #523D24; }
    .payment__content-form .event-schedule__block:before {
      background: #523D24; }
    .payment__content-form .event-schedule__info-text {
      color: #FFD29D; }
  .payment__policy {
    margin-top: 15px;
    line-height: 20px;
    font-size: 14px;
    text-align: left;
    color: #7F6445;
    width: 100%;
    max-width: 580px; }
  .payment__policy-link {
    color: #FFD29D;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear; }
    .payment__policy-link:hover {
      color: #FFFFFF; }
  .payment__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 33px;
    padding-right: 37px;
    border-top: 2px dashed #523D24; }
    .payment__footer .event-schedule {
      margin-right: 79px; }
      .payment__footer .event-schedule__block:after {
        background: #000000; }
      .payment__footer .event-schedule__block:before {
        background: #000000; }
    .payment__footer .event-schedule__info-text {
      color: #FFFFFF; }
    .payment__footer .button {
      margin-right: 35px;
      max-width: 207px;
      height: 50px; }
  .payment__footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%; }
  .payment__footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .payment__bank {
    fill: #523D24; }
    .payment__bank:not(:first-child) {
      margin-left: 26px; }
    .payment__bank:hover {
      fill: #FFD29D; }

@media (max-width: 1315px) {
  .payment__content {
    padding: 15px; }
    .payment__content .dev-select {
      margin-right: 15px; }
    .payment__content .counter-block:not(:last-child) {
      margin-right: 15px; } }

@media (max-width: 1300px) {
  .payment__footer {
    padding: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .payment__footer .payment__footer-left {
      width: 100%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 20px; }
      .payment__footer .payment__footer-left .button {
        margin: 0 auto; }
      .payment__footer .payment__footer-left .event-schedule {
        margin: 0 5px; } }

@media (max-width: 1275px) {
  .payment__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .payment__content .dev-select {
      width: 40%; } }

@media (max-width: 992px) {
  .payment__content .dev-select {
    margin-bottom: 20px; }
  .payment__content-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .payment__content-form .payment__input {
      margin-bottom: 20px;
      width: 100%;
      max-width: 100%; } }

@media (max-width: 768px) {
  .payment {
    border-radius: 0; }
    .payment__header {
      padding-top: 10px;
      padding-bottom: 10px; }
    .payment__header-title {
      padding-left: 15px; }
    .payment__header-type {
      padding-left: 15px; }
    .payment__content .dev-select {
      width: 100%; }
    .payment__content .counter-block {
      margin-right: 0;
      margin-bottom: 15px; }
    .payment__content .counter-block:not(:last-child) {
      margin-right: 10px; }
    .payment__content-form .button {
      margin: 10px auto 10px 0; }
    .payment__content-form .event-schedule {
      margin-bottom: 0; }
    .payment__footer .payment__footer-left {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .payment__footer .payment__footer-left .event-schedule {
        margin: 10px auto 10px 0; }
      .payment__footer .payment__footer-left .button {
        margin: 10px auto 10px 0; } }

.counter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .counter-block__title {
    margin-bottom: 11px;
    font-size: 15px;
    color: #FFD29D; }
  .counter-block__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 41px; }
  .counter-block__content-calculator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 9px; }
  .counter-block__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px; }
  .counter-block__item {
    width: 41px;
    height: 100%;
    background: #382C1B;
    border: none;
    cursor: pointer;
    color: #FFD29D;
    font-size: 32px;
    font-weight: 200; }
    .counter-block__item.left {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .counter-block__item.right {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
  .counter-block__value {
    width: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 20px;
    color: #FFD29D;
    border: none;
    background: #23190D; }

.dev-select__title {
  margin-bottom: 11px; }

.dev-select__button {
  width: 207px;
  background: #23190D;
  position: relative;
  font-size: 20px; }
  .dev-select__button.time {
    width: 140px; }
  .dev-select__button:before {
    content: '';
    position: absolute;
    width: 41px;
    height: 42px;
    background: #382C1B;
    color: #FFD29D;
    right: 0;
    top: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  .dev-select__button:after {
    border-bottom: 2px solid #FFD29D;
    border-right: 2px solid #FFD29D;
    height: 12px;
    width: 12px;
    margin-top: -7px;
    right: 16px; }

.dev-select .select {
  border: none; }
  .dev-select .select .list {
    width: 100%;
    background: #23190D;
    height: auto;
    max-height: 205px;
    overflow-y: scroll; }

.js-slider-auto-selekt {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 38px; }
  .js-slider-auto-selekt:hover .swiper-container.gallery-top .swiper-arrow-inner .swiper-button-prev {
    opacity: 1; }
  .js-slider-auto-selekt:hover .swiper-container.gallery-top .swiper-arrow-inner .swiper-button-next {
    opacity: 1; }
  .js-slider-auto-selekt .swiper-container {
    width: 100% !important;
    height: 527px; }
    .js-slider-auto-selekt .swiper-container .swiper-wrapper {
      width: 100% !important; }
    .js-slider-auto-selekt .swiper-container.gallery-top {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      max-width: 1000px;
      width: 100%; }
      .js-slider-auto-selekt .swiper-container.gallery-top .swiper-arrow-inner .swiper-button-prev {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        background: url("../img/slider-prev.png") no-repeat center center;
        background-color: #FFFFFF;
        -webkit-transition: 0.1s linear;
        transition: 0.1s linear; }
        .js-slider-auto-selekt .swiper-container.gallery-top .swiper-arrow-inner .swiper-button-prev:active {
          background-color: #FFA800;
          -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4);
                  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4); }
      .js-slider-auto-selekt .swiper-container.gallery-top .swiper-arrow-inner .swiper-button-next {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        background: url("../img/slider-next.png") no-repeat center center;
        background-color: #FFFFFF;
        -webkit-transition: 0.1s linear;
        transition: 0.1s linear; }
        .js-slider-auto-selekt .swiper-container.gallery-top .swiper-arrow-inner .swiper-button-next:active {
          background-color: #FFA800;
          -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4);
                  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4); }
  .js-slider-auto-selekt .swiper-slide-container {
    width: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    margin: auto;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
  .js-slider-auto-selekt .gallery-thumbs {
    max-width: 1000px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 120px;
    background: #dedede; }
    .js-slider-auto-selekt .gallery-thumbs .swiper-slide {
      width: 20%;
      height: 100%; }
      .js-slider-auto-selekt .gallery-thumbs .swiper-slide:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(194, 221, 237, 0.5); }
    .js-slider-auto-selekt .gallery-thumbs .swiper-slide-active:after {
      background: rgba(194, 221, 237, 0); }

@media (min-width: 1000px) {
  .js-slider-auto-selekt .swiper-container.gallery-top .swiper-arrow-inner .swiper-button-prev:hover {
    background-color: #FFCC00; }
  .js-slider-auto-selekt .swiper-container.gallery-top .swiper-arrow-inner .swiper-button-next:hover {
    background-color: #FFCC00; }
  .index-slider .swiper-container .swiper-button-next:hover {
    background-color: #FFCC00; }
  .index-slider .swiper-container .swiper-button-prev:hover {
    background-color: #FFCC00; } }

@media (max-width: 1310px) {
  .js-slider-auto-selekt .swiper-container.gallery-top {
    max-width: 850px; }
  .js-slider-auto-selekt .gallery-thumbs {
    max-width: 850px; } }

@media (max-width: 1170px) {
  .js-slider-auto-selekt .swiper-container.gallery-top {
    max-width: 650px; }
  .js-slider-auto-selekt .gallery-thumbs {
    max-width: 650px; } }

@media (max-width: 992px) {
  .js-slider-auto-selekt {
    display: none; } }

.about-block {
  padding-top: 52px;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .about-block .site-title {
    text-align: left;
    margin-bottom: 19px;
    color: #FFD29D; }
  .about-block__info {
    width: 100%;
    max-width: 830px; }
  .about-block__place {
    width: 100%;
    max-width: 482px; }
  .about-block__info-text {
    color: #FFD29D;
    margin-bottom: 14px;
    line-height: 25px;
    font-size: 18px; }
  .about-block__info-text_first {
    margin-bottom: 1px; }
  .about-block__first-letter {
    font-size: 55px;
    font-family: 'BedrockC';
    color: #F0593E;
    line-height: 1em;
    margin-bottom: -0.4em;
    margin-right: 0.19em;
    float: left;
    position: relative; }
  .about-block__info-img {
    margin-bottom: 15px;
    width: 100%;
    height: 173px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px; }

@media (max-width: 1370px) {
  .about-block__info-text {
    width: 90%; } }

@media (max-width: 992px) {
  .about-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (max-width: 768px) {
  .about-block {
    padding-top: 0;
    padding-bottom: 52px; }
    .about-block__first-letter {
      margin-right: 0; }
    .about-block__info-text {
      margin: 0 auto 16px;
      text-align: center; }
    .about-block__place .site-title {
      padding-top: 14px; }
    .about-block__place .button_redirect-cafe {
      height: 50px;
      margin: 0 auto;
      width: 100%;
      max-width: 280px; }
    .about-block__place .about-block__info-text {
      margin-bottom: 48px; } }

.page {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

.page_style-black {
  background: #000000;
  border-top: 2px dashed #C2DDED;
  border-bottom: 2px dashed #C2DDED;
  border-width: 2px; }

.page_style-red {
  background: #F0593E; }

@media (max-width: 768px) {
  .page {
    padding-left: 0;
    padding-right: 0; }
  .page_style-black .site-title {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 14px; } }

.page-inner {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto; }

.page-sidebar {
  width: 100%;
  max-width: 345px;
  margin-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .page-sidebar .reviews-block__col .site-title {
    line-height: 56px;
    margin-bottom: 20px; }
  .page-sidebar .reviews-block__col .review__block {
    padding-right: 20px;
    padding-bottom: 25px; }
  .page-sidebar .reviews-block__col .review__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 81%; }
  .page-sidebar .reviews-block__col .review__info-author {
    margin-bottom: 11px; }

@media (max-width: 1350px) {
  .page-sidebar {
    margin-right: 15px; }
  .group-tour {
    padding-left: 0; } }

@media (max-width: 1140px) {
  .event__photo {
    max-width: 100%; } }

@media (max-width: 992px) {
  .page-sidebar {
    max-width: 992px; } }

@media (max-width: 768px) {
  .page-sidebar {
    max-width: 768px; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  background: #FFFFFF;
  padding-left: 15px;
  padding-right: 15px; }

@media (max-width: 768px) {
  .header {
    padding-right: 0;
    padding-left: 0;
    -webkit-box-shadow: 0 2px 3px rgba(0, 37, 63, 0.2);
            box-shadow: 0 2px 3px rgba(0, 37, 63, 0.2);
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%; } }

.header-inner {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header-inner__burger {
    display: none; }
  .header-inner__call {
    display: none; }
  .header-inner__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-inner__logo .logo {
      margin-right: 22px; }

@media (max-width: 1260px) {
  .header-inner__logo .block-info {
    display: none; }
  .header-inner__logo .logo {
    margin-right: 0; }
    .header-inner__logo .logo__img {
      width: 95%; } }

@media (max-width: 1170px) {
  .header-inner .block-info__info-text {
    font-size: 14px; } }

@media (max-width: 992px) {
  .header-inner .block-info {
    display: none; } }

@media (max-width: 768px) {
  .header-inner {
    position: relative; }
    .header-inner__logo .logo {
      width: 148px;
      height: 45px; }
      .header-inner__logo .logo__img {
        width: 100%; }
    .header-inner__burger {
      display: block; }
    .header-inner__call {
      padding-right: 15px;
      display: block; }
    .header-inner .social-media {
      display: none; }
    .header-inner .button {
      display: none; }
    .header-inner .header-mobile .social-media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.header-mobile {
  padding: 15px 15px 25px 15px;
  position: absolute;
  width: 100%;
  background: #F0593E;
  left: 0;
  bottom: -495px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  overflow-y: scroll;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transform: translateX(-595px);
          transform: translateX(-595px);
  opacity: 0; }
  .header-mobile.is-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    z-index: 90; }
  .header-mobile__link {
    font-size: 20px;
    height: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #FFFFFF;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px; }
    .header-mobile__link:active {
      color: #FFCC00; }

.nav {
  height: 51px;
  background: #F0593E;
  -webkit-box-shadow: 0 2px 3px rgba(0, 37, 63, 0.2);
          box-shadow: 0 2px 3px rgba(0, 37, 63, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  position: relative; }

@media (max-width: 768px) {
  .nav {
    display: none; } }

.nav-inner {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav-inner__link {
    font-size: 20px;
    height: 100%;
    color: #FFFFFF;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .nav-inner__link:active {
      color: #FFCC00; }
      .nav-inner__link:active .nav-inner__button {
        border: 1px solid #FFCC00; }
        .nav-inner__link:active .nav-inner__button:before {
          border-bottom: 1px solid #FFCC00; }
        .nav-inner__link:active .nav-inner__button:active {
          border-bottom: 1px solid #FFCC00; }
    .nav-inner__link:not(:last-child) {
      margin-right: 36px; }
  .nav-inner__button {
    margin-left: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    display: block;
    position: relative; }
    .nav-inner__button:before {
      content: '';
      -webkit-transform: rotate(-140deg);
              transform: rotate(-140deg);
      position: absolute;
      width: 8px;
      border-bottom: 1px solid #FFFFFF;
      -webkit-transition: .3s linear;
      transition: .3s linear;
      top: 50%;
      left: 2px; }
    .nav-inner__button:after {
      content: '';
      -webkit-transform: rotate(-40deg);
              transform: rotate(-40deg);
      position: absolute;
      width: 8px;
      border-bottom: 1px solid #FFFFFF;
      -webkit-transition: .3s linear;
      transition: .3s linear;
      top: 50%;
      right: 2px; }
    .nav-inner__button:active {
      color: #FFCC00; }

@media (max-width: 1170px) {
  .nav-inner__link {
    font-size: 16px; }
    .nav-inner__link:not(:last-child) {
      margin-right: 15px; } }

@media (max-width: 992px) {
  .nav-inner__link {
    font-size: 14px; }
    .nav-inner__link:not(:last-child) {
      margin-right: 15px; } }

@media (min-width: 1000px) {
  .nav-inner__link:hover {
    color: #FFCC00; }
    .nav-inner__link:hover .nav-inner__button {
      border: 1px solid #FFCC00; }
      .nav-inner__link:hover .nav-inner__button:before {
        border-bottom: 1px solid #FFCC00; }
      .nav-inner__link:hover .nav-inner__button:active {
        border-bottom: 1px solid #FFCC00; }
    .nav-inner__link:hover .menu {
      z-index: 10;
      opacity: 1; } }

.menu {
  border-top: 1px solid #FF8772;
  width: 100%;
  left: 0;
  top: 20px;
  position: absolute;
  background: #F0593E;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear; }
  .menu:hover {
    z-index: 400;
    opacity: 1;
    top: 51px; }
  .menu__inner {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px; }
  .menu__inner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 550px;
    border-radius: 10px;
    overflow: hidden; }
  .menu__item {
    padding: 30px;
    height: 50%;
    width: 20%;
    max-width: 275px;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-position-x: center;
    background-size: cover;
    z-index: 1; }
    .menu__item:hover {
      -webkit-transition: 0.2s linear;
      transition: 0.2s linear; }
      .menu__item:hover:after {
        background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(49.82%, rgba(0, 0, 0, 0)));
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 49.82%); }
    .menu__item:after {
      z-index: 2;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: 0.2s linear;
      transition: 0.2s linear;
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.75)), color-stop(49.82%, rgba(0, 0, 0, 0)));
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 49.82%); }
  .menu__item-text {
    line-height: 28px;
    font-size: 20px;
    color: #FFFFFF;
    z-index: 3;
    position: relative;
    width: 100%;
    max-width: 120px; }

.menu-is-active {
  z-index: 400;
  opacity: 1;
  top: 51px; }

.menu-inner {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto; }

.footer {
  height: 290px;
  background: #000000;
  border-top: 1px dashed #FFFFFF;
  border-width: 2px;
  padding-left: 15px;
  padding-right: 15px; }

@media (max-width: 768px) {
  .footer {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.footer-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 548px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear; }
  .footer-gallery__mobile-scroll {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .footer-gallery__block {
    position: relative;
    height: 50%;
    width: 14.285714285714286%;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear; }
    .footer-gallery__block:after {
      content: '';
      opacity: 0;
      cursor: pointer;
      position: absolute;
      z-index: 20;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: 0.1s linear;
      transition: 0.1s linear;
      background-color: rgba(0, 0, 0, 0.8);
      background-image: url("../img/svg/plus-icon.svg");
      background-repeat: no-repeat;
      background-position: center center; }
  .footer-gallery__img {
    z-index: 1;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%; }

@media (min-width: 1000px) {
  .footer-gallery__block:hover:after {
    opacity: 1; } }

@media (max-width: 1170px) {
  .footer-gallery {
    height: 400px; } }

@media (max-width: 992px) {
  .footer-gallery {
    height: 330px; } }

@media (max-width: 768px) {
  .footer-gallery {
    overflow: scroll;
    height: 217px; }
    .footer-gallery__mobile-scroll {
      width: auto;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
    .footer-gallery__block {
      height: 100%;
      width: 217px; } }

.footer-inner {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 37px; }
  .footer-inner__link {
    line-height: 36px;
    font-size: 18px;
    color: #FFD29D;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear; }
    .footer-inner__link:active {
      color: #FFFFFF; }
  .footer-inner__logo {
    padding-top: 5px;
    margin-right: 60px; }
    .footer-inner__logo .block-info__info-text {
      width: 219px; }
    .footer-inner__logo .logo {
      margin-bottom: 12px; }
  .footer-inner__col {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer-inner__col:nth-child(1) {
      margin-right: 128px; }
    .footer-inner__col:nth-child(2) {
      margin-right: 146px; }
    .footer-inner__col:nth-child(3) {
      margin-right: 192px; }
  .footer-inner__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

@media (min-width: 1000px) {
  .footer-inner__link:hover {
    color: #FFFFFF; } }

@media (max-width: 1330px) {
  .footer-inner__info {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-inner__col:nth-child(1) {
    margin-right: 0; }
  .footer-inner__col:nth-child(2) {
    margin-right: 0; }
  .footer-inner__col:nth-child(3) {
    margin-right: 0; } }

@media (max-width: 992px) {
  .footer-inner__logo {
    margin-right: 20px; }
    .footer-inner__logo .block-info__info-text {
      font-size: 14px; }
  .footer-inner__link {
    font-size: 14px; } }

@media (max-width: 768px) {
  .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer-inner__logo {
      margin: 0 auto;
      text-align: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .footer-inner__col {
      text-align: center; }
    .footer-inner__info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.footer-nav {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-nav__media {
    width: 280px; }
    .footer-nav__media .social-media {
      margin-bottom: 17px; }
  .footer-nav__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer-nav__content-line {
    border-top: 1px dashed #392916;
    border-width: 2px; }
  .footer-nav__content-info {
    padding-left: 45px;
    padding-top: 35px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

@media (max-width: 1170px) {
  .footer-nav__media {
    width: auto; }
  .footer-nav__content-info {
    padding-left: 0; }
    .footer-nav__content-info .block-info__info-text {
      font-size: 14px; } }

@media (max-width: 992px) {
  .footer-nav__media {
    display: none; }
  .footer-nav__content-info .button_buy-ticket {
    max-width: 170px; } }

@media (max-width: 768px) {
  .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-nav__content {
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center; }
    .footer-nav__content-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer-nav__content-info .block-info {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        margin-bottom: 22px; }
        .footer-nav__content-info .block-info__info {
          width: 160px;
          text-align: left; }
      .footer-nav__content-info .button {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        margin-bottom: 28px;
        max-width: 207px; }
    .footer-nav__media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer-nav__media .social-media {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }

.map {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 631px;
  position: relative; }
  .map__content {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

@media (max-width: 768px) {
  .map {
    height: auto; }
    .map__content {
      display: none; } }

.map-inner {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding-top: 50px; }

@media (max-width: 768px) {
  .map-inner {
    padding-top: 0; } }

.map-info {
  padding-top: 20px;
  padding-bottom: 19px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 10px;
  width: 345px;
  position: relative;
  z-index: 10; }
  .map-info__title {
    padding: 0 28px 0;
    margin-bottom: 23px;
    line-height: 56px;
    font-size: 50px;
    color: #000000;
    font-family: 'BedrockC'; }
  .map-info__flex {
    padding: 0 24px 0 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .map-info__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .map-info__block-icon {
    padding-top: 5px;
    margin-right: 18px; }
  .map-info__block-text {
    width: 100%;
    max-width: 190px;
    line-height: 23px;
    font-size: 16px;
    color: #000000; }
  .map-info__time {
    font-size: 14px;
    color: #808080; }
  .map-info__line {
    margin-top: 19px;
    margin-bottom: 17px;
    width: 100%;
    height: 1px;
    border-bottom: 2px dashed black; }

@media (max-width: 768px) {
  .map-info {
    width: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 0; }
    .map-info__title {
      text-align: center; } }

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 72px;
  height: 63px; }

.hamRotate.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.hamRotate180.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.line {
  fill: none;
  -webkit-transition: stroke-dasharray 0.2s, stroke-dashoffset 0.2s;
  transition: stroke-dasharray 0.2s, stroke-dashoffset 0.2s;
  stroke: #F0593E;
  stroke-width: 5.5;
  stroke-linecap: round; }

.ham1 .top {
  stroke-dasharray: 40 139; }

.ham1 .bottom {
  stroke-dasharray: 40 180; }

.ham1.active .top {
  stroke-dashoffset: -98px; }

.ham1.active .bottom {
  stroke-dashoffset: -138px; }

.ham2 .top {
  stroke-dasharray: 40 121; }

.ham2 .bottom {
  stroke-dasharray: 40 121; }

.ham2.active .top {
  stroke-dashoffset: -102px; }

.ham2.active .bottom {
  stroke-dashoffset: -102px; }

.ham3 .top {
  stroke-dasharray: 40 130; }

.ham3 .middle {
  stroke-dasharray: 40 140; }

.ham3 .bottom {
  stroke-dasharray: 40 205; }

.ham3.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px; }

.ham3.active .middle {
  stroke-dashoffset: -102px; }

.ham3.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px; }

.ham4 .top {
  stroke-dasharray: 40 121; }

.ham4 .bottom {
  stroke-dasharray: 40 121; }

.ham4.active .top {
  stroke-dashoffset: -68px; }

.ham4.active .bottom {
  stroke-dashoffset: -68px; }

.ham5 .top {
  stroke-dasharray: 40 82; }

.ham5 .bottom {
  stroke-dasharray: 40 82; }

.ham5.active .top {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px; }

.ham5.active .bottom {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px; }

.ham6 .top {
  stroke-dasharray: 40 172; }

.ham6 .middle {
  stroke-dasharray: 40 111; }

.ham6 .bottom {
  stroke-dasharray: 40 172; }

.ham6.active .top {
  stroke-dashoffset: -132px; }

.ham6.active .middle {
  stroke-dashoffset: -71px; }

.ham6.active .bottom {
  stroke-dashoffset: -132px; }

.ham7 .top {
  stroke-dasharray: 40 82; }

.ham7 .middle {
  stroke-dasharray: 40 111; }

.ham7 .bottom {
  stroke-dasharray: 40 161; }

.ham7.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px; }

.ham7.active .middle {
  stroke-dashoffset: 23px; }

.ham7.active .bottom {
  stroke-dashoffset: -83px; }

.ham8 .top {
  stroke-dasharray: 40 160; }

.ham8 .middle {
  stroke-dasharray: 40 142;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms; }

.ham8 .bottom {
  stroke-dasharray: 40 85;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: stroke-dashoffset 0.2s, -webkit-transform 400ms;
  transition: stroke-dashoffset 0.2s, -webkit-transform 400ms;
  transition: transform 400ms, stroke-dashoffset 0.2s;
  transition: transform 400ms, stroke-dashoffset 0.2s, -webkit-transform 400ms; }

.ham8.active .top {
  stroke-dashoffset: -64px; }

.ham8.active .middle {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.ham8.active .bottom {
  stroke-dashoffset: -64px; }

.fancybox-content {
  width: 100%;
  height: 100%;
  max-width: 1380px; }

/*# sourceMappingURL=main.css.map */
