.about-block {
  padding-top: 52px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;

  .site-title {
    text-align: left;
    margin-bottom: 19px;
    color: $coffee;
  }
  &__info {
    width: 100%;
    max-width: 830px;
  }
  &__place {
    width: 100%;
    max-width: 482px;
  }
  &__info-text {
    color: $coffee;
    margin-bottom: 14px;
    line-height: 25px;
    font-size: 18px;
  }
  &__info-text_first {
    margin-bottom: 1px;
  }
  &__first-letter {
    font-size: 55px;
    font-family: 'BedrockC';
    color: #F0593E;
    line-height: 1em;
    margin-bottom: -0.4em;
    margin-right: 0.19em;
    float: left;
    position: relative;
  }

  &__info-img {
    margin-bottom: 15px;
    width: 100%;
    height: 173px;
    object-fit: cover;
    border-radius: 10px;
  }
}

@media(max-width: 1370px) {
  .about-block {
    &__info-text {
      width: 90%;
    }
  }
}

@media(max-width: 992px) {
  .about-block {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .about-block {
    padding-top: 0;
    padding-bottom: 52px;
    &__first-letter {
      margin-right: 0;
    }
    &__info-text {
      margin: 0 auto 16px;
      text-align: left;
    }
    &__place {
      .site-title {
        padding-top: 14px;
      }
      .button_redirect-cafe{
        height: 50px;
        margin: 0 auto;
        width: 100%;
        max-width: 280px;
      }
      .about-block__info-text{
        margin-bottom: 48px;
      }
    }
  }
}
