.age-rating {
  position: absolute;
  width: 42px;
  height: 29px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $red;
  right: 20px;
  top: 19px;
  &__number {
    font-size: 16px;
    color: $white;
  }
}
