.js-slider-auto-selekt {
  width: 100%;

  margin-top: 20px;
  margin-bottom: 38px;

  &:hover {
    .swiper-container.gallery-top {
      .swiper-arrow-inner {
        .swiper-button-prev {
          opacity: 1;
        }
        .swiper-button-next {
          opacity: 1;
        }
      }
    }
  }
  .swiper-container {
    width: 100% !important;
    height: 527px;
    .swiper-wrapper {
      width: 100% !important;
    }
    &.gallery-top {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      max-width: 1000px;
      width: 100%;
      .swiper-arrow-inner {
        .swiper-button-prev {
          width: 80px;
          height: 80px;
          border-radius: 10px;
          background: url("../img/slider-prev.png") no-repeat center center;
          background-color: #FFFFFF;
          transition: 0.1s linear;
          &:active {
            background-color: #FFA800;
            box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4);
          }
        }
        .swiper-button-next {
          width: 80px;
          height: 80px;
          border-radius: 10px;
          background: url("../img/slider-next.png") no-repeat center center;
          background-color: #FFFFFF;
          transition: 0.1s linear;
          &:active {
            background-color: #FFA800;
            box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4);
          }
        }
      }
    }
  }

  .swiper-slide-container {
    width: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    margin: auto;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .gallery-thumbs {
    max-width: 1000px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 120px;
    background: #dedede;

    .swiper-slide {
      width: 20%;
      height: 100%;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(194, 221, 237, 0.5);
      }
    }
    .swiper-slide-active {
      &:after {
        background: rgba(194, 221, 237, 0);
      }
    }
  }
}

@media (min-width: 1000px) {
  .js-slider-auto-selekt {
    .swiper-container {
      &.gallery-top {
        .swiper-arrow-inner {
          .swiper-button-prev {
            &:hover {
              background-color: #FFCC00;
            }
          }
          .swiper-button-next {
            &:hover {
              background-color: #FFCC00;
            }
          }
        }
      }
    }
  }
  .index-slider {
    .swiper-container {
      .swiper-button-next {
        &:hover {
          background-color: #FFCC00;
        }
      }
      .swiper-button-prev {
        &:hover {
          background-color: #FFCC00;
        }
      }
    }
  }
}

@media (max-width: 1310px) {
  .js-slider-auto-selekt {
    .swiper-container {
      &.gallery-top {
        max-width: 850px;
      }
    }
    .gallery-thumbs {
      max-width: 850px;
    }
  }
}

@media (max-width: 1170px) {
  .js-slider-auto-selekt {
    .swiper-container {
      &.gallery-top {
        max-width: 650px;
      }
    }
    .gallery-thumbs {
      max-width: 650px;
    }
  }
}

@media (max-width: 992px) {
  .js-slider-auto-selekt {
    display: none;
  }
}