.block-info {
  display: flex;
  align-items: flex-start;
  &__icon {
    margin-right: 15px;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__info-text {
    transition: 0.1s linear;
    font-size: 16px;
    &:nth-child(1) {
      margin-bottom: 5px;
    }

    &.bold{
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.block-info {
  &.no-hover {
    &:active {
      .block-info__info-text {
        color: $black;
      }
    }
  }
}

.block-info_style-phone {
  .block-info__info-text {
    &:nth-child(1) {
      font-weight: bold;
    }
    &:nth-child(2) {
      padding-left: 5px;
      color: #A77F50;
    }
  }
}

.block-info_style-white {
  .block-info__info-text {
    color: $black;
  }
  &:active {
    .block-info__info-text {
      color: $red;
    }
  }
}

.block-info_style-phone {
  .block-info__info-text {
    &:nth-child(1) {
      color: $black;
    }
  }
  &:active {
    .block-info__info-text {
      &:nth-child(2) {
        color: $red;
      }
    }
  }
}

.block-info_style-phone-footer {
  .block-info__info-text {
    &:nth-child(1) {
      color: $coffee;
    }
    &:nth-child(2) {
      opacity: 0.5;
      color: $coffee;
    }
  }
  &:active {
    .block-info__info-text {
      &:nth-child(1) {
        color: $white;
      }
      &:nth-child(2) {
        opacity: 1;
      }
    }
  }
}

.block-info_style-footer {
  .block-info__info-text {
    color: $coffee;
  }
  &:active {
    .block-info__info-text {
      color: $white;
    }
  }
}

.block-info_style-red {
  .block-info__info-text {
    color: $white;
  }
  .block-info__icon {
    margin-top: 6px;
    fill: $white;
  }

  &:active {
    .block-info__info-text {
      color: $coffee;
    }
    .block-info__icon {
      fill: $coffee;
    }
  }
}

@media (min-width: 1000px) {
  .block-info_style-red {
    &:hover {
      .block-info__info-text {
        color: $coffee;
      }
      .block-info__icon {
        fill: $coffee;
      }
    }
  }

  .block-info_style-phone-footer {
    &:hover {
      .block-info__info-text {
        &:nth-child(1) {
          color: $white;
        }
        &:nth-child(2) {
          opacity: 1;
        }
      }
    }
  }

  .block-info_style-footer {
    &:hover {
      .block-info__info-text {
        color: $white;
      }
    }
  }
  .block-info_style-phone {
    &:hover {
      .block-info__info-text {
        &:nth-child(2) {
          color: $red;
        }
      }
    }
  }
  .block-info_style-white {
    &:hover {
      .block-info__info-text {
        color: $red;
      }
    }
  }

  .block-info {
    &.no-hover {
      &:hover {
        .block-info__info-text {
          color: $black;
        }
      }
    }
  }
}