.block-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  &__title {
    margin-bottom: 14px;
    font-size: 27px;
    color: #000000;
  }
  &__text {
    line-height: 25px;
    font-size: 18px;
    color: #000000;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.block-text_style-paragraph {
  .block-text__text {
    padding-left: 103px;
    width: 100%;
    max-width: 1000px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 14px;
    }
    &:after {
      content: '';
      position: absolute;
      left: 70px;
      top: 11px;
      width: 12px;
      height: 1px;
      background: #F0593E;
    }
  }
}

.block-text {
  &.middle-block {
    margin-bottom: 31px;
    margin-top: 31px;
  }
}

@media (max-width: 768px) {
  .block-text {
    padding-left: 10px;
    padding-right: 10px;
  }
  .block-text_style-paragraph {
    .block-text {
      &__text {
        padding-left: 35px;
        &:after {
          left: 10px;
        }
      }
    }
  }
}
