.border-schedule {
  position: absolute;
  right: 0;
  top: -208px;
  z-index: 1;
  width: 414px;
  height: 567px;
  overflow: hidden;

  &__img {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__afisha-img {
    border: 3px solid transparent;
    z-index: 20;
    position: absolute;
    top: 49px;
    left: 61px;
    width: 307px;
    height: 471px;
    transition: 0.1s linear;
  }

  &:active {
    .border-schedule__afisha-img {
      border: 3px solid #F0593E;
    }
  }
}

@media (min-width: 1000px) {
  .border-schedule {
    &:hover {
      .border-schedule__afisha-img {
        border: 3px solid #F0593E;
      }
    }
  }
}

@media (max-width: 992px) {
  .border-schedule {
    display: none;
  }
}