.box {
  width: 207px;
  height: 84px;
  background: #FFCC00;
  border-radius: 5px;
  position: absolute;
  top: -69px;
  left: 138px;
  padding-top: 13px;
  padding-left: 18px;
  padding-right: 10px;
  &__text {
    letter-spacing: -0.5px;
  }
  &__tips {
    position: absolute;
    bottom: -20px;
    right: 69px;
  }
}

@media (max-width:768px ){
  .box{
    display: none;
  }
}