.button {
  width: 100%;
  max-width: 209px;
  height: 55px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s linear;
  background: $red;
  cursor: pointer;
  position: relative;

  &__text {
    font-size: 16px;
    position: relative;
    width: 100%;
    text-align: center;
    color: $white;
  }
  &__icon {
    width: 22px;
    height: 18px;
  }
  &__block {
    width: 67px;
    border-left: 2px dashed white;
    height: 42px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.button_buy-ticket {
  max-width: 207px;
  height: 50px;
  &:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: $white;
    left: -6px;
  }
  &:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: $white;
    right: -6px;
  }
}

.button_bulls-black {
  &:after {
    background: $black;
  }
  &:before {
    background: $black;
  }
}

.button {
  &:active {
    background: $green-active;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4);

    .button__text {
      margin-top: 2px;
    }
    .button__icon {
      margin-top: 2px;
    }
  }
}

.button_redirect-cafe {
  border: 1px solid $coffee;
  box-sizing: border-box;
  border-radius: 5px;
  background: $black;
  max-width: 260px;

  &:active {
    background: #E1B37E;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4);
    &:after {
      background-color: transparent;
    }
    .button__text {
      color: $black;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    width: 21px;
    height: 21px;
    background-color: $coffee;
    border-radius: 0px 5px;
    background-image: url('../img/svg/button-icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.1s linear;
  }

  .button__text {
    color: $coffee;
  }
}

.button_style-tickets {
  background: #2F2213;
  .button__text {
    color: $coffee;
  }
  &:active {
    background: $coffee;
    .button__text {
      color: #000000;
    }
  }
}

.button:disabled,
.button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

@media (min-width: 1000px) {
  .button {
    &:hover {
      background: $green;
    }
  }

  .button_redirect-cafe {
    &:hover {
      background: $coffee;
      &:after {
        background-color: transparent;
      }
      .button__text {
        color: $black;
      }
    }
  }
  .button_style-tickets {
    &:hover {
      background: $coffee;
      .button__text {
        color: #000000;
      }
    }
  }

  .button:disabled,
  .button[disabled] {
    &:hover {
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
    }
  }
}
