.close-event {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 253px;
  position: absolute;
  top: -15px;
  left: 30px;

  &__info {
    padding: 27px 10px 10px 37px;
    display: flex;
    flex-direction: column;
  }
  &__info-text {
    color: #808080;
    font-size: 18px;
    color: #808080;
  }

  &__info-title {
    margin-bottom: 25px;
    width: 100%;
    max-width: 220px;
    font-family: 'BedrockC';
    overflow: hidden;
    text-overflow: ellipsis;
    height: 104px;
    line-height: 44px;
    font-size: 35px;
    color: #000;
    padding-top: 12px;
  }

  &__photo {
    max-width: 537px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 45px;
  }
  &__photo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1379px) {
  .close-event {
    &__photo {
      max-width: 430px;
    }
  }
}

@media (max-width: 1180px) {
  .close-event {
    &__photo {
      max-width: 230px;
    }
    &__info {
      padding: 15px;
    }
  }
}

@media (max-width: 992px) {
  .close-event {
    &__photo {
      max-width: 440px;
    }
  }
}

@media (max-width: 768px) {
  .close-event {
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
    position: initial;
    flex-direction: column;

    &__photo {
      max-width: 768px;
      height: 151px;
      order: -1;
      position: inherit;
    }

    &__info {
      padding-bottom: 60px;
      padding-top: 21px;
      text-align: center;
      .button {
        height: 50px;
        margin: 0 auto;
      }
    }
    &__info-text {
      margin-bottom: 6px;
    }
    &__info-title {
      margin: 0 auto 10px;
      width: 75%;
      max-width: initial;
    }
  }
}
