.connect-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 115px;

  .block-info_style-red {
    &:nth-child(1) {
      margin-right: 17px;
    }
    &:nth-child(2) {
      margin-right: 14px;
    }
  }
}

@media(max-width: 1260px) {
  .connect-block {
    .social-media_style-red {
      .social-media__text {
        display: none;
      }
    }
    .block-info__info-text {
      font-size: 14px;
    }
  }
}

@media(max-width: 992px) {
  .connect-block {
    .social-media_style-red {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .connect-block {
    flex-direction: column;
    height: 100%;
    padding-top: 35px;
    padding-bottom: 30px;
    .block-info {
      justify-content: flex-start;
      width: 225px;
      text-align: left;
      margin-bottom: 17px;
      &:nth-child(1) {
        margin-right: 0;
        justify-content: flex-start;
        width: 220px;
        .block-info__info-text {
          &:nth-child(1) {
            font-size: 20px;
            margin-bottom: 3px;
          }
          &:nth-child(2) {
            font-size: 16px;
          }
        }
      }
      &:nth-child(2) {
        margin-bottom: 21px;
        margin-right: 0;
        justify-content: center;
        .block-info__info-text {
          &:nth-child(1) {
            font-size: 20px;
            margin-bottom: 3px;
          }
          &:nth-child(2) {
            font-size: 16px;
          }
        }
      }
    }

    .social-media {
      margin-top: 18px;
      display: flex;
    }
  }
}