.counter-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__title {
    margin-bottom: 11px;
    font-size: 15px;
    color: #FFD29D;
  }
  &__content {
    display: flex;
    height: 41px;
  }
  &__content-calculator {
    display: flex;
    margin-right: 9px;
  }
  &__price {
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  &__item {
    width: 41px;
    height: 100%;
    background: #382C1B;
    border: none;
    cursor: pointer;
    color: $coffee;
    font-size: 32px;
    font-weight: 200;

    &.left {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &.right {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  &__value {
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: $coffee;
    border: none;
    background: #23190D;
  }
}