.dev-studio {
  display: flex;
  align-items: center;
  transition: 0.1s linear;
  opacity: 0.5;

  &__icon {
    margin-right: 11px;
    fill: $coffee;
  }

  &__text {
    padding-top: 2px;
    font-size: 14px;
    color: $coffee;
  }

  &:active {
    opacity: 1
  }
}

@media (min-width: 1000px) {
  .dev-studio {
    &:hover {
      opacity: 1
    }
  }
}

