.dev-select {
  &__title{
    margin-bottom: 11px;
  }
  &__button {
    width: 207px;
    background: #23190D;
    position: relative;
    font-size: 20px;
    &.time{
      width: 140px;
    }
    &:before {
      content: '';
      position: absolute;
      width: 41px;
      height: 42px;
      background: #382C1B;
      color: $coffee;
      right: 0;
      top: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &:after {
      border-bottom: 2px solid #FFD29D;
      border-right: 2px solid #FFD29D;
      height: 12px;
      width: 12px;
      margin-top: -7px;
      right: 16px;
    }
  }
  .select {
    border: none;
    .list{
      width: 100%;
      background: #23190D;
      height: auto;
      max-height: 205px;
      overflow-y: auto;
    }
  }
}
