.event {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  height: 270px;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  transition: 0.1s linear;
  &:active {
    box-shadow: 0 10px 10px rgba(0, 51, 79, 0.2);
    transform: translateY(-10px);
  }
  &__photo {
    height: auto;
    width: 100%;
    max-width: 414px;
    position: relative;
  }
  &__photo-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  &__info {
    width: 100%;
    padding: 23px 30px 30px 30px;
  }
  &__info-type {
    margin-bottom: 9px;
    font-size: 16px;
    color: #808080;
  }
  &__info-name {
    margin-bottom: 15px;
    font-size: 27px;
    color: $black;
  }
  &__info-text {
    color: $black;
    line-height: 23px;
    font-size: 16px;
    width: 100%;
    max-width: 840px;
  }
  &__info-footer {
    width: 100%;
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    .button {
      margin-left: 15px;
    }
  }
  &__footer-description {
    width: 100%;
    max-width: 627px;
    display: flex;
    justify-content: space-between;
  }
  //стили нижней части ивента , в сайдбаре страницы ивента
  &__price {
    padding-top: 24px;
    padding-right: 17px;
    padding-left: 21px;
    padding-bottom: 35px;
    border-top: 2px dashed #CFC5B0;
    display: flex;
    flex-direction: column;
  }
  &__price-row {
    display: flex;
    justify-content: space-between;
  }
  &__price-text {
    width: 39%;
    display: flex;
    line-height: 23px;
    font-size: 16px;
    color: #000000;
  }
  &__price-time {
    width: 33px;
    position: relative;
  }
  &__small-time {
    line-height: 14px;
    font-size: 10px;
    color: #000000;
    position: absolute;
  }

}

.event__link {
  &:active {
    .event {
      .button {
        background: $green;
      }
    }
  }
}

.event_style-sidebar {
  height: auto;
  flex-direction: column;
  .event__photo {
    height: 345px;
  }
  .event__info {
    padding: 23px 23px 30px 20px;
  }
  .event__info-type {
    margin-bottom: 4px;
  }
  .event__info-name {
    letter-spacing: 0.4px;
    font-size: 26px;
  }
}

@media (min-width: 1000px) {
  .event {
    &:hover {
      box-shadow: 0 10px 10px rgba(0, 51, 79, 0.2);
      transform: translateY(-10px);
    }
  }
  .event__link {
    &:hover {
      .event {
        .button {
          background: $green;
        }
      }
    }
  }
}

@media (max-width: 1260px) {
  .event {
    height: auto;
    &__info {
      padding: 15px;
    }
  }
}

@media (max-width: 1140px) {
  .event {
    &__photo {
      max-width: 290px;
    }
  }
}

@media (max-width: 992px) {
  .event {
    &__photo {
      display: none;
    }
  }
}

@media(max-width: 768px) {
  .event {
    border-radius: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 24px;
    &__photo {
      display: block;
      width: 100%;
      max-width: 768px;
      height: 200px;
    }
    &__info {
      padding-top: 24px;
      flex-direction: column;
      text-align: center;
    }
    &__info-type {
      margin-bottom: 13px;
    }
    &__info-footer {
      flex-direction: column;
      .button {
        height: 50px;
        width: 100%;
        max-width: 281px;
        margin: 11px auto;
      }
    }
    &__footer-description {
      width: 272px;
      margin: 0 auto;
      align-items: flex-end;
      flex-direction: column;
    }
  }
  .event_style-sidebar {
    .event__footer-description {
      .event-schedule {
      }
    }
  }
}
