.event-schedule {
  display: flex;
  align-items: center;
  &__block {
    width: 50px;
    height: 50px;
    background: #E4D7B5;
    border-radius: 5px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__block-text {
    font-size: 20px;
    text-align: center;
    color: $black;
  }
  &__block-price {
    font-size: 20px;
    text-align: center;
  }
  &__block-enter {
    font-size: 14px;
    text-align: center;
    color: $black;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__info-text {
    font-size: 15px;
    color: $black;
  }
}

.event-schedule_style-date {
  .event-schedule__block {
    &:after {
      top: 6px;
      left: 14px;
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: $white;
      position: absolute;
    }
    &:before {
      top: 6px;
      right: 14px;
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: $white;
      position: absolute;
    }
  }
  .event-schedule__block-text {
    position: absolute;
    top: 19px;
  }
}

.event-schedule_style-price {
  .event-schedule__block {
    width: 100px;
    background: #FFCC00;
    &:after {
      right: -6px;
      width: 12px;
      height: 12px;
      background: $white;
      border-radius: 100%;
      position: absolute;
      content: '';
    }
    &:before {
      left: -6px;
      width: 12px;
      height: 12px;
      background: $white;
      border-radius: 100%;
      position: absolute;
      content: '';
    }
  }
}

@media(max-width: 768px) {
  .event-schedule {
    margin-bottom: 17px;
    justify-content: center;
    position: relative;
    &__info {
      min-width: 140px;
      text-align: left;
    }
  }
}
