.footer-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 548px;
  transition: 0.1s linear;
  &__mobile-scroll {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &__block {
    position: relative;
    height: 50%;
    width: 14.285714285714286%;
    transition: 0.1s linear;
    &:after {
      content: '';
      opacity: 0;
      cursor: pointer;
      position: absolute;
      z-index: 20;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.1s linear;
      background-color: rgba(0, 0, 0, 0.8);
      background-image: url("../img/svg/plus-icon.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  &__img {
    z-index: 1;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1000px) {
  .footer-gallery__block {
    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
}

@media(max-width: 1170px) {
  .footer-gallery {
    height: 400px;
  }
}

@media(max-width: 992px) {
  .footer-gallery {
    height: 330px;
  }
}

@media (max-width: 768px) {
  .footer-gallery {
    overflow: scroll;      height: 217px;

    &__mobile-scroll {
      width: auto;
      flex-wrap: nowrap;
    }
    &__block {
      height: 100%;
      width: 217px;
    }
  }
}
