.footer-nav {
  @include max-width;
  margin-top: 16px;
  display: flex;

  &__media {
    width: 280px;

    .social-media {
      margin-bottom: 17px;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__content-line {
    border-top: 1px dashed #392916;
    border-width: 2px;
  }
  &__content-info {
    padding-left: 45px;
    padding-top: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1170px) {
  .footer-nav {
    &__media {
      width: auto;
    }
    &__content-info {
      padding-left: 0;
      .block-info__info-text {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 992px) {
  .footer-nav {
    &__media {
      display: none;
    }
    &__content-info {
      .button_buy-ticket {
        max-width: 170px;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-nav {
    flex-direction: column;
    align-items: center;
    &__content {
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
    }
    &__content-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      .block-info {
        order: -1;
        margin-bottom: 22px;
        &__info {
          width: 160px;
          text-align: left;
        }
      }
      .button{
        order: -1;
        margin-bottom: 28px;
        max-width: 207px;
      }
    }
    &__media {
      display: flex;
      flex-direction: column;
      .social-media {
        justify-content: center;
      }
    }
  }
}