.footer {
  height: 290px;
  background: $black;
  border-top: 1px dashed $white;
  border-width: 2px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 768px) {
  .footer {
    height: auto;
    display: flex;
    flex-direction: column;
  }
}