.footer-inner {
  @include max-width;
  display: flex;
  padding-top: 37px;

  &__link {
    line-height: 36px;
    font-size: 18px;
    color: $coffee;
    transition: 0.1s linear;
    &:active {
      color: $white;
    }
  }

  &__logo {
    padding-top: 5px;
    margin-right: 60px;
    .block-info {
      &__info-text {
        width: 219px;
      }
    }
    .logo {
      margin-bottom: 12px;
    }
  }

  &__col {
    text-align: left;
    display: flex;
    flex-direction: column;
    &:nth-child(1) {
      margin-right: 128px;
    }
    &:nth-child(2) {
      margin-right: 146px;
    }
    &:nth-child(3) {
      margin-right: 192px;
    }
  }
  &__info {
    display: flex;
  }
}

@media (min-width: 1000px) {
  .footer-inner__link {
    &:hover {
      color: $white;
    }
  }
}

@media (max-width: 1330px) {
  .footer-inner {
    &__info {
      width: 100%;
      justify-content: space-between;
    }
    &__col {
      &:nth-child(1) {
        margin-right: 0;
      }
      &:nth-child(2) {
        margin-right: 0;
      }
      &:nth-child(3) {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 992px) {
  .footer-inner {
    &__logo {
      margin-right: 20px;
      .block-info__info-text {
        font-size: 14px;
      }
    }
    &__link {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .footer-inner {
    flex-direction: column;
    &__logo {
      margin: 0 auto;
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    &__col {
      text-align: center;
    }
    &__info {
      flex-direction: column;
    }
  }
}