.gallery {
  display: flex;
  width: 100%;
  height: 167px;
  border-radius: 10px;
  overflow: hidden;
  &__more {
    max-width: 275px;
    width: 25%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    cursor: pointer;
    &:after {
      content: '';
      cursor: pointer;
      position: absolute;
      z-index: 20;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.1s linear;
      background-color: rgba(0, 0, 0, 0.8);
    }
    .gallery__img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &__more-text {
    font-size: 16px;
    color: #FFD29D;
    position: relative;
    z-index: 30;
    display: flex;
    align-items: center;
    &:after {
      content: '';
      position: absolute;
      right: -28px;
      width: 18px;
      height: 32px;
      z-index: 30;
      background-image: url("../img/svg/more-photo-icon.svg");
      background-repeat: no-repeat;

    }
  }
  &__scroll {
    display: flex;
    width: 100%;
  }
  &__img {
    max-width: 275px;
    width: 25%;
    object-fit: cover;
    &:not(:last-child) {
      margin-right: 1px;
    }
  }
}

@media (max-width: 768px) {
  .gallery {
    border-radius: 0;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    height: 225px;
    width: 100%;
    &__scroll {
      overflow-x: scroll;
    }
    &__img {
      max-width: initial;
      width: 240px;
      height: 145px;
    }
    &__more {
      max-width: 768px;
      height: 80px;
      width: 100%;
      &:after {
        background-color: rgba(0, 0, 0, 1);
      }
    }
  }
}