.group-tour {
  margin-top: 61px;
  margin-bottom: 80px;
  padding-left: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  position: relative;
  width: 100%;
  background: $black;
  height: 119px;
  &__title {
    font-family: 'BedrockC';
    font-size: 50px;
    text-align: center;
    color: #FFD29D;
  }
  &__info {
    padding-left: 69px;
    padding-right: 61px;
    width: 100%;
    max-width: 966px;
    background: url("../img/tour-bg.png");
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__text {
    line-height: 23px;
    font-size: 16px;
    color: $coffee;
  }
  &__text-link {
    line-height: 23px;
    font-size: 16px;
    color: $coffee;
    font-weight: bold;
  }
}

.group-tour_style-sidebar {
  margin-top: 35px;
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-left: 0;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: -26px;
    left: 102px;
    background-image: url("../img/group.png");
    background-repeat: no-repeat;
  }
  .group-tour {
    &__title {
      padding-top: 13px;
      padding-bottom: 19px;
      width: 100%;
    }
    &__info {
      padding-top: 22px;
      padding-left: 19px;
      padding-right: 5px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background: #523D24;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &__text {
      width: 100%;
      margin-bottom: 9px;
    }
  }
}

@media(max-width: 1350px) {
  .group-tour {
    padding-left: 20px;
    &__title {
      font-size: 36px;
    }
  }
}

@media (max-width: 768px) {
  .group-tour {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    border-radius: 0;
    height: auto;
    position: relative;
    margin-bottom: 59px;
    &:after {
      content: '';
      position: absolute;
      top: -26px;
      left: 54px;
      width: 23px;
      height: 26px;
      background-image: url("../img/group.png");
    }
    &__title {
      font-size: 40px;
      padding-top: 21px;
      padding-bottom: 20px;
    }
    &__text {
      max-width: 250px;
      font-size: 16px;
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      &:nth-child(1) {
        margin-bottom: 14px;
      }
    }
    &__info {
      padding-top: 16px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 23px;
      display: flex;
      flex-direction: column;
      background: #523D24;
    }
  }
}

@media(max-width: 768px) {
  .group-tour_style-sidebar {
    .group-tour__info {
      align-items: center;
    }
  }
}
