.header {
  display: flex;
  height: 80px;
  background: $white;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 768px) {
  .header {
    padding-right: 0;
    padding-left: 0;
    box-shadow: 0 2px 3px rgba(0, 37, 63, 0.2);
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
  }
}