.header-inner {
  @include max-width;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__burger {
    display: none
  }
  &__call {
    display: none
  }
  &__logo {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 22px;
    }
  }
}

@media (max-width: 1260px) {
  .header-inner {
    &__logo {
      .block-info {
        display: none;
      }
      .logo {
        margin-right: 0;
        &__img {
          width: 95%;
        }
      }
    }
  }
}

@media (max-width: 1170px) {
  .header-inner {
    .block-info__info-text {
      font-size: 14px;
    }
  }
}

@media (max-width: 992px) {
  .header-inner {
    .block-info {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .header-inner {
    position: relative;
    &__logo {
      .logo {
        width: 148px;
        height: 45px;
        &__img {
          width: 100%;
        }
      }
    }
    &__burger {
      display: block;
    }
    &__call {
      padding-right: 15px;
      display: block;
    }
    .social-media {
      display: none;
    }
    .button {
      display: none;
    }
    .header-mobile {
      .social-media {
        display: flex;
        justify-content: center;

      }
    }
  }
}