.header-mobile {
  padding: 15px 15px 25px 15px;
  position: absolute;
  width: 100%;
  background: $red;
  left: 0;
  bottom: -495px;
  display: flex;
  z-index: -1;
  flex-direction: column;
  height: auto;
  overflow-y: scroll;
  transition: 0.2s linear;
  transform: translateX(-595px);
  opacity: 0;

  &.is-active {
    transform: translateX(0);
    opacity: 1;
    z-index: 90;
  }

  &__link {
    font-size: 20px;
    height: 50px;
    width: 100%;
    display: flex;
    color: $white;
    align-items: center;
    margin-bottom: 20px;
    &:active {
      color: #FFCC00;
    }
  }
}