.index-slider {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  height: 1000px;
  position: relative;
  &:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 350px;
    z-index: 1;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__info {
    position: absolute;
    z-index: 10;
    width: 100%;
    margin-top: 73px;
  }
  &__sub-title {
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
    color: #000000;
  }
  &__title {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    font-family: 'BedrockC';
    line-height: 78px;
    font-size: 70px;
    text-align: center;
    color: #000000;
  }
}

.index-slider {
  .swiper-container {
    height: 100%;
    .swiper-button-next {
      width: 80px;
      height: 80px;
      border-radius: 10px;
      background: url("../img/slider-next.png") no-repeat center center;
      background-color: #FFFFFF;
      transition: 0.1s linear;
      right: 51px;
      left: auto;
      top: 482px;
      &:active {
        background-color: #FFA800;
        box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4);
      }
    }
    .swiper-button-prev {
      width: 80px;
      height: 80px;
      border-radius: 10px;
      background: url("../img/slider-prev.png") no-repeat center center;
      background-color: #FFFFFF;
      transition: 0.1s linear;
      left: 51px;
      right: auto;
      top: 482px;
      &:active {
        background-color: #FFA800;
        box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4);
      }
    }
    .swiper-pagination-bullet {
      background: $white;
      opacity: 1;
      width: 15px;
      height: 15px;
      position: relative;
    }
    .swiper-pagination-bullet-active {
      &:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        background: $red;
        width: 9px;
        height: 9px;
        border-radius: 100%;
      }
    }
  }
}

@media (min-width: 1000px) {
  .index-slider {
    .swiper-container {
      .swiper-button-next {
        &:hover {
          background-color: #FFCC00;
        }
      }
      .swiper-button-prev {
        &:hover {
          background-color: #FFCC00;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .index-slider {
    height: auto;
    .swiper-container {
      height: 190px;
    }
    &:after {
      height: 0;
      width: 0;
    }
    &__info {
      position: initial;
      margin-top: 35px;
    }
    &__sub-title {
      font-size: 16px;
      text-align: center;
      color: $black;
      width: 80%;
      margin: 0 auto 8px;
    }
    &__title {
      width: 85%;
      margin-bottom: 56px;
      line-height: 44px;
      font-size: 40px;
      text-align: center;
      color: $black;
    }
  }
}