.last-event {
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    margin-bottom: 45px;
  }
  &__header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__info-date {
    margin-bottom: 8px;
    font-size: 16px;
    color: #808080;
  }
  &__info-title {
    font-size: 27px;
    color: $black;
  }
  &__description {
    line-height: 23px;
    font-size: 16px;
    color: $black;
    width: 100%;
    max-width: 690px;
  }
}

@media (max-width: 768px) {
  .last-event {
    &__header {
      flex-direction: column;
      text-align: center;
    }
    &__description {
      display: none;
    }
    &:not(:last-child) {
      margin-bottom: 36px;
    }
  }
}