.map-info {
  padding-top: 20px;
  padding-bottom: 19px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 10px;
  width: 345px;
  position: relative;
  z-index: 10;
  &__title {
    padding: 0 28px 0;
    margin-bottom: 23px;
    line-height: 56px;
    font-size: 50px;
    color: #000000;
    font-family: 'BedrockC';
  }
  &__flex {
    padding: 0 24px 0 28px;
    display: flex;
    justify-content: space-between;
  }
  &__block {
    display: flex;
    align-items: flex-start;
  }
  &__block-icon {
    padding-top: 5px;
    margin-right: 18px;
  }
  &__block-text {
    width: 100%;
    max-width: 190px;
    line-height: 23px;
    font-size: 16px;
    color: #000000;
  }
  &__time {
    font-size: 14px;
    color: #808080;
  }
  &__line {
    margin-top: 19px;
    margin-bottom: 17px;
    width: 100%;
    height: 1px;
    border-bottom: 2px dashed black;
  }
}

@media (max-width: 768px) {
  .map-info {
    width: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 0;
    &__title{
      text-align: center;
    }
  }
}