.map {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 631px;
  position: relative;

  &__content {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

@media (max-width: 768px) {
  .map {
    height: auto;
    &__content {
      display: none;
    }
  }
}
