.menu {
  border-top: 1px solid #FF8772;
  width: 100%;
  left: 0;
  top: 20px;
  position: absolute;
  background: $red;
  z-index: -1;
  opacity: 0;
  transition: 0.2s linear;
  &:hover {
    z-index: 400;
    opacity: 1;
    top: 51px;
  }

  //z-index: 400;
  //opacity: 1;

  &__inner {
    @include max-width;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
  }
  &__inner-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 550px;
    border-radius: 10px;
    overflow: hidden;
  }
  &__item {
    padding: 30px;
    height: 50%;
    width: 20%;
    max-width: 275px;
    transition: 0.2s linear;
    position: relative;
    display: flex;
    align-items: flex-end;
    background-position-x: center;
    background-size: cover;
    z-index: 1;
    &:hover {
      transition: 0.2s linear;
      &:after {
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 49.82%);
      }
    }
    &:after {
      z-index: 2;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.2s linear;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 49.82%);
    }
  }
  &__item-text {
    line-height: 28px;
    font-size: 20px;
    color: #FFFFFF;
    z-index: 3;
    position: relative;
    width: 100%;
    max-width: 120px;
  }
}

.menu-is-active {
  z-index: 400;
  opacity: 1;
  top: 51px;
}
