.nav-inner {
  @include max-width;
  display: flex;
  align-items: center;

  &__link {
    font-size: 20px;
    height: 100%;
    color: $white;
    transition: 0.1s linear;
    display: flex;
    align-items: center;
    position: relative;
    &:active {
      color: $yellow;
      .nav-inner__button {
        border: 1px solid $yellow;
        &:before {
          border-bottom: 1px solid $yellow;
        }
        &:active {
          border-bottom: 1px solid $yellow;
        }
      }
    }
    &:not(:last-child) {
      margin-right: 36px;
    }
  }
  &__button {
    margin-left: 10px;
    border: 1px solid $white;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    &:before {
      content: '';
      transform: rotate(-140deg);
      position: absolute;
      width: 8px;
      border-bottom: 1px solid $white;
      transition: .3s linear;
      top: 50%;
      left: 2px;
    }
    &:after {
      content: '';
      transform: rotate(-40deg);
      position: absolute;
      width: 8px;
      border-bottom: 1px solid $white;
      transition: .3s linear;
      top: 50%;
      right: 2px;
    }
    &:active {
      color: $yellow;
    }
  }
}

@media (max-width: 1170px) {
  .nav-inner {
    &__link {
      font-size: 16px;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 992px) {
  .nav-inner {
    &__link {
      font-size: 14px;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}

@media (min-width: 1000px) {
  .nav-inner {
    &__link {
      &:hover {
        color: $yellow;
        .nav-inner__button {
          border: 1px solid $yellow;
          &:before {
            border-bottom: 1px solid $yellow;
          }
          &:active {
            border-bottom: 1px solid $yellow;
          }
        }
        .menu {
          z-index: 10;
          opacity: 1;
        }
      }
    }
  }
}