.nav {
  height: 51px;
  background: $red;
  box-shadow: 0 2px 3px rgba(0, 37, 63, 0.2);
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}