.news-block {
  margin-bottom: 32px;
  padding: 23px 30px;
  background: $white;
  border-radius: 10px;
  width: 48%;
  transition: 0.1s linear;
  &:active {
    box-shadow: 0 10px 10px rgba(0, 51, 79, 0.2);
    transform: translateY(-10px);
  }
  &__date {
    margin-bottom: 7px;
    font-size: 16px;
    color: #808080;
  }
  &__title {
    margin-bottom: 10px;
    line-height: 38px;
    font-size: 27px;
    color: $black;
  }
  &__text {
    line-height: 23px;
    font-size: 16px;
    color: $black;
  }
}

@media (min-width: 1000px) {
  .news-block {
    &:hover {
      box-shadow: 0 10px 10px rgba(0, 51, 79, 0.2);
      transform: translateY(-10px);
    }
  }
}

@media (max-width: 1170px) {
  .news-block {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .news-block {
    padding: 22px 15px 44px 15px;
    border-radius: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    &__date {
      margin-bottom: 11px;
    }
    &__title {
      font-size: 27px;
      width: 80%;
      margin: 0 auto 16px;
      line-height: 31px;
    }
    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }
}