.news-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .news-flex {
    flex-direction: column;
    margin-bottom: 58px;
  }
}