.pagination {
  margin-top: 27px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  &__item {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.1s linear;
    &:not(:last-child) {
      margin-right: 10px;
    }

    &:active {
      background: #FFCC00;
      .pagination__item-text {
        color: $black;
      }
    }
  }

  &__item-text {
    font-size: 16px;
    text-align: center;
    color: #808080;
  }
}

@media (min-width: 1000px) {
  .pagination {
    &__item {
      &:hover {
        background: #FFCC00;
        .pagination__item-text {
          color: $black;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .pagination {
    display: none;
  }
}
