.page-clip {
  height: 35px;
  width: 100%;
  margin-top: 37px;
  margin-bottom: 43px;
  object-fit: cover;

}

.page-clip {
  &.mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .page-clip {
    &.mobile-hide {
      display: none;
    }
    &.mobile {
      display: block;
    }
  }
}
