.page-sidebar {
  width: 100%;
  max-width: 345px;
  margin-right: 35px;
  display: flex;
  flex-direction: column;

  .reviews-block__col {
    .site-title {
      line-height: 56px;
      margin-bottom: 20px;
    }
    .review {
      &__block {
        padding-right: 20px;
        padding-bottom: 25px;
      }
      &__info {
        flex-direction: column;
        align-items: flex-start;
        width: 81%;
      }
      &__info-author {
        margin-bottom: 11px;
      }
    }
  }
}

@media (max-width: 1350px) {
  .page-sidebar {
    margin-right: 15px;
  }
  .group-tour {
    padding-left: 0;
  }
}

@media (max-width: 1140px) {
  .event__photo {
    max-width: 100%;
  }
}

@media(max-width: 992px) {
  .page-sidebar {
    max-width: 992px;
  }
}

@media(max-width: 768px) {
  .page-sidebar {
    max-width: 768px;
  }
}
