.page {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.page_style-black {
  background: $black;
  border-top: 2px dashed #C2DDED;
  border-bottom: 2px dashed #C2DDED;
  border-width: 2px;
}

.page_style-red {
  background: $red;
}

@media (max-width: 768px) {
  .page {
    padding-left: 0;
    padding-right: 0;
  }

  .page_style-black{
    .site-title{
      text-align: center;
      margin-bottom: 0;
      padding-bottom: 14px;
    }
  }
}