.payment {
  background: #000000;
  color: #FFD29D;
  border-radius: 10px;
  margin-bottom: 20px;
  &__header {
    min-height: 104px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px dashed #523D24;
  }
  &__header-type {
    margin-bottom: 4px;
    padding-left: 34px;
    font-size: 15px;
  }
  &__header-title {
    padding-left: 33px;
    font-size: 27px;
  }
  &__input {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: $coffee;
    max-width: 319px;
    width: 100%;
    height: 50px;
    background: #23190D;
    border-radius: 5px;
    border: none;
    &::placeholder {
      color: $coffee;
    }
  }

  &__label {
    width: 100%;
    margin-bottom: 15px;
  }
  &__content {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #523D24;
    background: #523D24;
    padding-left: 33px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .dev-select {
      margin-right: 35px;
    }
    .counter-block {
      &:not(:last-child) {
        margin-right: 35px;
      }
    }
  }
  &__content-form {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .button {
      margin-left: 10px;
      margin-right: 20px;
    }
    .event-schedule {
      &__block {
        &:after {
          background: #523D24;
        }
        &:before {
          background: #523D24;
        }
      }
      &__info-text {
        color: $coffee;
      }
    }
  }
  &__policy {
    margin-top: 15px;
    line-height: 20px;
    font-size: 14px;
    text-align: left;
    color: #7F6445;
    width: 100%;
    max-width: 580px;
  }
  &__policy-link {
    color: $coffee;
    transition: 0.1s linear;
    &:hover {
      color: #FFFFFF;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 33px;
    padding-right: 37px;
    border-top: 2px dashed #523D24;
    .event-schedule {
      margin-right: 79px;
      &__block {
        &:after {
          background: #000000;
        }
        &:before {
          background: #000000;
        }
      }
    }
    .event-schedule {
      &__info-text {
        color: #FFFFFF;
      }
    }
    .button {
      margin-right: 35px;
      max-width: 207px;
      height: 50px;
    }
  }
  &__footer-left {
    display: flex;
    align-items: center;
    width: 85%;
  }
  &__footer-right {
    display: flex;
    align-items: center;
  }
  &__bank {
    fill: #523D24;
    &:not(:first-child) {
      margin-left: 26px;
    }
    &:hover {
      fill: $coffee;
    }
  }
}

@media (max-width: 1315px) {
  .payment {
    &__content {
      padding: 15px;
      .dev-select {
        margin-right: 15px;
      }
      .counter-block {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .payment {
    &__footer {
      padding: 15px;
      flex-wrap: wrap;
      .payment__footer-left {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
        .button {
          margin: 0 auto;
        }
        .event-schedule {

          margin: 0 5px;
        }
      }
    }
  }
}

@media (max-width: 1275px) {
  .payment {
    &__content {
      flex-wrap: wrap;
      .dev-select {
        width: 40%;
      }
    }
  }
}

@media (max-width: 992px) {
  .payment {
    &__content {
      .dev-select {
        margin-bottom: 20px;
      }
    }
    &__content-form {
      flex-wrap: wrap;
      .payment__input {
        margin-bottom: 20px;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

@media(max-width: 768px) {
  .payment {
    border-radius: 0;
    &__header {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &__header-title {
      padding-left: 15px;
    }
    &__header-type {
      padding-left: 15px;
    }
    &__content {
      .dev-select {
        width: 100%;
      }
      .counter-block {
        margin-right: 0;
        margin-bottom: 15px;
      }
      .counter-block {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
    &__content-form {
      .button {
        margin: 10px auto 10px 0;
      }
      .event-schedule{
        margin-bottom: 0;
      }
    }
    &__footer {
      .payment__footer-left {
        flex-direction: column;
        .event-schedule {
          margin: 10px auto 10px 0;
        }
        .button {
          margin: 10px auto 10px 0;
        }
      }
    }
  }
}
