.policy {
  display: flex;
  flex-direction: column;
  &__link {
    color: $coffee;
    opacity: 0.5;
    transition: 0.1s linear;
    font-size: 14px;
    &:first-child {
      margin-bottom: 11px;
    }
    &:active {
      opacity: 1;
    }
  }
}

@media (min-width: 1000px) {
  .policy__link {
    &:hover {
      opacity: 1;
    }
  }
}