.review {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 26px;
  &__block {
    padding-top: 22px;
    padding-left: 30px;
    padding-right: 54px;
    padding-bottom: 19px;
    background: $white;
    border-radius: 10px;
    position: relative;
  }
  &__block-text {
    line-height: 23px;
    font-size: 16px;
    color: $black;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 583px;
    align-items: flex-end;
    margin: 16px 0 0 auto;
  }
  &__info-author {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
  }
  &__source {
    display: flex;
  }
  &__source-date {
    margin-right: 6px;
    font-size: 14px;
    color: #808080;
    display: flex;
  }
  &__source-link {
    display: flex;
    color: $red;
    font-size: 14px;
  }
}

.review_style-client {
  position: relative;
  .review__info {
    max-width: initial;
    width: 92%;
  }
  .review__info-author {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: 11px;
      left: -29px;
      width: 23px;
      height: 26px;
      background: url(../img/tips-review.png);
    }
  }
  .review__block {
    position: relative;
    &:after {
      position: absolute;
      bottom: -26px;
      left: 32px;
      width: 23px;
      height: 26px;
      background: url("../img/tips-review.png");
    }
  }
}

.review_style-media {
  position: relative;
  margin-bottom: 0;

  &:after {
    content: '';
    position: absolute;
    left: 30px;
    top: 30px;
    background-image: url('../img/svg/apostrof-prev.svg');
    background-repeat: no-repeat;
    width: 25px;
    height: 26px;
    z-index: 1;
  }
  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    right: 32px;
    top: 30px;
    background-image: url('../img/svg/apostrof-next.svg');
    background-repeat: no-repeat;
    width: 25px;
    height: 26px;
  }
  .review__block {
    padding-bottom: 27px;
    margin-bottom: 30px;
  }
  .review__block-text {
    padding-left: 45px;
    padding-right: 60px;
  }
  .review__info {
    margin-top: 6px;
    max-width: 553px;
    justify-content: flex-start;
  }
  .review__source-date {
    flex-wrap: wrap;
    .review__source-link {
      max-width: 768px;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      justify-content: center;
    }
  }
}

@media(max-width: 1170px) {
  .review__block {
    padding: 15px;
  }

  .review_style-client {
    .review__info {
      width: 80%;
    }
  }
}

@media (max-width: 768px) {
  .review {
    max-width: 768px;
    width: 100%;
    &__info {
      flex-direction: column;
      align-items: flex-start;
    }
    &__block {
      border-radius: 0;
      text-align: center;

    }
  }

  .review_style-client {
    .review__block {
      padding-top: 22px;
      padding-bottom: 20px;
      padding-left: 34px;
    }
    .review__info {
      margin-top: 17px;
    }
    .review__info-author {
      margin-bottom: 9px;
    }
  }

  .review_style-media {
    &:before {
      right: 17px;
    }
    &:after {
      left: 17px;
    }
    .review__block {
      padding-top: 22px;
      margin-bottom: 2px;
    }
    .review__block-text {
      width: 80%;
      margin: 0 auto;
      padding: 0;
    }
  }
}