.reviews-block {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  .site-title {
    margin-bottom: 28px;
  }
  &__col {
    width: 100%;
    display: flex;
    flex-direction: column;
    &:nth-child(1) {
      margin-right: 20px;
    }
  }
}

@media (max-width: 1379px) {
  .reviews-block {
    &__col {
      &:first-child {
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  .reviews-block {
    margin-top: 0;
    flex-direction: column;
    .site-title {
      margin-bottom: 0;
    }
    &__col {
      &:first-child {
        margin-right: 0;
      }
      .page-clip {
        &.mobile {
          margin-top: 0;
          margin-bottom: -5px;
          height: 18px;
        }
      }
    }
  }
}