.site-title {
  margin-bottom: 29px;
  font-size: 50px;
  color: $black;
  font-family: 'BedrockC';
}

@media(max-width: 768px) {
  .site-title {
    padding-top: 24px;
    padding-bottom: 23px;
    
    margin-top: 0;
    margin-bottom: 0;
    line-height: 44px;
    font-size: 40px;
    text-align: center;
  }
}
