.slide-info {
  position: absolute;
  padding-left: 39px;
  padding-top: 35px;
  padding-right: 18px;
  left: 261px;
  min-width: 414px;
  max-width: 970px;
  height: 136px;
  bottom: 60px;
  background: #FFFFFF;
  border-radius: 10px;
  z-index: 10;
  &__sub-title {
    font-size: 18px;
    color: #808080;
    margin-bottom: 4px;
  }
  &__title {
    line-height: 57px;
    font-size: 37px;
    color: #000000;
    font-family: 'BedrockC';
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 870px;
    transition: 0.1s linear;
  }
}

@media (max-width: 1170px) {
  .slide-info {
    left: 15px;
  }
}

@media (max-width: 768px) {
  .slide-info {
    border-radius: 0;
    min-height: 149px;
    position: initial;
    padding: 21px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-width: auto;

    &__sub-title {
      font-size: 18px;
      text-align: center;
      color: #808080;
    }
    &__title {
      line-height: 44px;
      font-size: 40px;
      text-align: center;
    }
  }
}