.social-media {
  display: flex;
  &__block {
    width: 45px;
    height: 45px;
    border: 1px solid #C39A6B;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s linear;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.social-media_style-header {
  .social-media__block-img {
    fill: $red
  }
}

.social-media_style-red {
  .social-media__block {
    border: 1px solid $white;
  }
  .social-media__block-img {
    fill: $white
  }

  .social-media__block {
    &:active {
      border: 1px solid $coffee;
      .social-media__block-img {
        fill: $coffee
      }
    }
  }

  .social-media__text {
    margin-right: 33px;
    line-height: 23px;
    font-size: 16px;
    color: $white;
  }
}

.social-media_style-footer {
  .social-media__block-img {
    fill: $coffee
  }
  .social-media__block {
    &:active {
      border: 1px solid $white;
      .social-media__block-img {
        fill: $white;
      }
    }
  }
}

.social-media_style-header {
  .social-media__block {
    &:active {
      background: #C39A6B;
      .social-media__block-img {
        fill: #FFFFFF;
      }
    }
  }
}

@media (min-width: 1000px) {
  .social-media_style-red {
    .social-media__block {
      &:hover {
        border: 1px solid $coffee;
        .social-media__block-img {
          fill: $coffee
        }
      }
    }
  }

  .social-media_style-header {
    .social-media__block {
      &:hover {
        background: #C39A6B;
        .social-media__block-img {
          fill: #FFFFFF;
        }
      }
    }
  }
  .social-media_style-footer {
    .social-media__block {
      &:hover {
        border: 1px solid $white;
        .social-media__block-img {
          fill: $white;
        }
      }
    }
  }
}