.wrapper-border {
  margin-top: 41px;
  position: relative;
  //max-width: 966px;
  width: 70%;
  height: 319px;
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

@media (max-width: 1379px) {
  .wrapper-border {
    width: 65%;
  }
}

@media (max-width: 1180px) {
  .wrapper-border {
    width: 55%;
  }
}

@media (max-width: 992px) {
  .wrapper-border {
    overflow: hidden;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wrapper-border {
    margin-top: 0;
    height: auto;
    background: $white;
    &__img {
      opacity: 0;
    }
  }
}
